{#
 # Blogs index template
 # -------------------
 #}

{% extends "_layout" %}
	{% block content %}

	<div class="panel-primary-container">
	<section class="section-success panel-primary">
			<img class="section-success__icon" src="{{ siteUrl }}images/global/checkmark.svg" alt="Checkmark" />
			<h1 class="section-success__heading">{{ formMessages.successMessage}}</h1>
			<div class="section-success__paragraph">
				{{ formMessages.successText }}
			</div>
	</section>
	<section class="section-success-button panel-primary">
		<a class="button button-primary" href="{{ formMessages.callToActionLink.first().url }}">{{ formMessages.callToActionButton}}</a>
	</section>
	<section class="section-success-button panel-primary">
		<a class="button button-primary button--reverse" href="{{ siteUrl }}">Return Home</a>
	</section>
	</div>

	{% endblock %}
