{% extends "_layout" %}
{% block content %}

{% for asset in entry.aboutImage %}
<img src="{{asset.url}}" alt={{asset.title}} />
{% endfor %}

<h1>{{entry.title}}</h1>

{% include '_includes/basicPageContent.html' %}

  <h2>IdeaBase Can Help With:</h2>
<ul>
{% for block in entry.sellingPoints %}
      {% if block.type == "sellingPoint" %}
        <li>
          <h4>{{block.point}}</h4>
        </li>
      {%endif%}
{% endfor %}
</ul>


{% for block in entry.serviceHomepageMatrix %}
    <h3>{{block.homeProcessName}}</h3>
{% endfor %}


<h2>Our Graphic Design Work:</h2>
<!-- add in images later !-->
<section class="section-projects-all panel-primary-wide">
  <ul class="project-list">

  {% for entry in entry.relatedWork %}
    {% include '_includes/_relatedWork.html' %}
  {% endfor %}
  </ul>
</section>


<section class="section-blog-teaser">
<h2>A Day in The Life at IdeaBase</h2>
<ul class="blog-teaser-list">
{% for entry in entry.relatedBlog.limit(2) %}
{% include '_includes/_blogPreview.html' %}
{% endfor %}
</ul>
<section class="section-body-button panel-primary">
  <a class="button button-primary" href="{{ siteUrl }}blog">Read More In Our Staff Blog</a>
</section>
</section>
</section>




<h2>People</h2>
{% set entries = entry.relatedPeople %}
{% include '_includes/_peopleSmall.html' %}


<h2>What customers are saying:</h2>
<div class="panel-primary-container">
<section class="testimonial-entry panel-primary">
{% set quote = entry.relatedTestimonial %}
{% include '_includes/_testimonial.html' %}
</section>
</div>
{% endblock %}
