{% extends "_layout" %}
{% block content %}

{% for asset in entry.aboutImage %}
<img src="{{asset.url}}" alt={{asset.title}} />
{% endfor %}

<div class="panel-primary">

<h1>{{entry.title}}</h1>
<div class="introduction">
{% include '_includes/basicPageContent.html' %}
</div>



  <h2>Our {{entry.title}} Services </h2>

<ul class="service-index__examples">
  {% for block in entry.serviceHomepageMatrix %}
<li class="service-index__examples__item">{{block.homeProcessName}}</li>
  {% endfor %}
</ul>

<section class="service-index__examples__supplemental panel-primary">
<p>
  Need something else? In addition to these services, IdeaBase offers a <a href="#">wide variety of
  research & design services</a> that will help you get the most of out of your project.
</p>
</section>

<div class="panel-primary-container">
  <section class="section-title panel-primary">
    <h2>Our {{entry.title}} Work:</h2>
  </section>
</div>

<!-- add in images later !-->
<section class="section-projects-all panel-primary-wide">

<ul class="project-list">
  {% for entry in entry.relatedWork %}

    {% include '_includes/_relatedWork.html' %}
  {% endfor %}
  </ul>
</section>

<div class="panel-primary-container">
<section class="testimonial-entry panel-primary">
{% set quote = entry.relatedTestimonial %}
{% include '_includes/_testimonial.html' %}
</section>
</div>


<section class="section-blog-teaser">
<h2>Meet our staff</h2>
{% set entries = entry.relatedPeople %}
{% include '_includes/_peopleSmall.html' %}
<h2>Learn about the {{entry.title}} process</h2>
<p>
  {{entry.body}}
</p>
<ul class="blog-teaser-list">
{% for entry in entry.relatedBlog.limit(2) %}
{% include '_includes/_blogPreview.html' %}
{% endfor %}
</ul>
<section class="section-body-button panel-primary">
  <a class="button button-primary" href="{{ siteUrl }}blog">Read More In Our Staff Blog</a>
</section>
</section>
</section>

</div>

{% endblock %}
