{#
 #}

{% extends "_layout" %}

{% block content %}
{% include '_includes/_background-images.html' %}

<section class="section-header section-header--interior">
	<div class="section-header__container">
		<h1 class="section-header__title">{{ entry.projectHeadline }}</h1>
	</div>
</section>

<div class="panel-primary-container">
<section class="section-introduction panel-primary">
		<div class="introduction">{{ entry.projectsSubDescription }}</div>
</section>
</div>

<div class="panel-primary-container">
<section class="section-title panel-primary">
	<h2>Featured Work</h2>
</section>
</div>

<div class="panel-primary-container panel-secondary-container section-projects-featured panel-background-image">
	<section class="section-projects-all panel-secondary panel-primary-wide">
		<ul class="project-list">
			{% set featured = craft.entries.section('ideabaseProjects').featuredProjectLightswitch('not 0') %}

			{% for entry in featured.limit(3).all() %}
			<li class="project-list__item--featured">
			<a href="{{ entry.url }}">
					{% if entry.projectPicture | length %}
						{% for asset in entry.projectPicture.limit(1).all() %}
						<div class="project-list__item__image">
				     		<img src="{{ asset.url('projectThumb') }}" alt= "{{ asset.title}}">
				     	</div>
				     	{% endfor %}
				     	{% else %}
				     	<div class="project-list__item__image">
				     	     {% for asset in imagePlaceholder.aboutImage %}
				     	     	<img src="{{ asset.url('projectThumb') }}" alt= "No Image Found">
				     	     {% endfor %}
				     	</div>
			     	{% endif %}

			     	<h2 class="project-list__item__name">{{ entry.title }}
			     	</h2>
			     	{% set descriptionParagraph = entry.projectDescription|split('.') %}
			     	{% set firstDescriptionParagraph = descriptionParagraph|first ~ '.' %}
					<div class="project-list__item__description">{{ firstDescriptionParagraph|raw }}</div>
			</a>
			</li>
			{% endfor %}
			</ul>
			<a class="button button-primary" href="{{siteUrl}}work/all">{{ entry.moreProjectsButton }}</a>
	</section>
</div>

{% set blogGroup = craft.categories.group('caseStudyOrBlog').slug('case-study') %}
{% set caseStudy = craft.entries.section('blogPost').relatedTo(blogGroup) %}


	<!-- Case Study List -->
<div class="panel-primary-container">
	<section class="section-introduction panel-primary">
		<h2>{{ entry.caseStudyHeadline }}</h2>
		<p>{{ entry.caseStudySubDescription }}</p>

		<section class="section-blog-teaser">
			<ul class="blog-teaser-list">
			{% for entry in caseStudy.relatedTo(blogGroup).limit(2).all() %}
	    			<li class="blog-teaser">
	    				<a href="{{ entry.url }}">
	        				<h1 class="blog-teaser__title">{{ entry.title }}</h1>

	        				{% set numberOfAuthors = entry.blogAuthor|length %}
							{% if numberOfAuthors < 2 %}

								{% for entry in entry.blogAuthor.all() %}
								<p class="blog-teaser__author">
									{{ entry.title }}
								</p>
								{% endfor %}
							{% else %}
								<p class="blog-teaser__author">
									{% for entry in entry.blogAuthor %}
									<span class="blog-multiple__author">{{ entry.title }}</span>
									{% endfor %}
								</p>
							{% endif %}
	        				{% set caseStudyParagraphs = entry.blogContent|split('.') %}
							{% set firstCaseStudyParagraph = caseStudyParagraphs|first ~ '.' %}
								<div class="blog-teaser__text">
    							{{ firstCaseStudyParagraph|striptags|raw }}
    							</div>
	        				<p class="blog-teaser__link">Read the Case Study</p>
	        			</a>
	    			</li>
			{% endfor %}
			</ul>
		</section>
	</section>
</div>
	<div class="panel-secondary-container panel-background-image">

	<section class="section-price panel-secondary">
		<h2>{{ entry.classroomExperienceHeadline }}</h2>
		{% set image = entry.calloutImage.one() %}
		{% if entry.calloutImage | length %}
		<img class="panel-secondary__thumbnail" src="{{ image.url('panelCallout') }}" alt ="{{ image.title }}" />
		<div class="panel-secondary--left">
		  {{ entry.classroomExperienceDescription }}
      <a class="button button-primary" href="{{ siteUrl }}classes">{{ entry.classroomButton }}</a>
		</div>
		{% else %}
		{{ entry.classroomExperienceDescription }}
    <a class="button button-primary" href="{{ siteUrl }}classes">{{ entry.classroomButton }}</a>
		{% endif %}
	</section>
	</div>
	<!-- End Case Study List -->
{% endblock %}
