<footer class="global-footer">
	<h2 class="global-footer__cta">{{ footer.footerHeadline }}</h2>
								{% for asset in footer.formIcon %}
			     					<img src="{{ asset.getUrl('formIconNormal') }}" alt= "{{ asset.title}}">
			     				{% endfor %}

	<section class="footer-form" id="footer-form">
		<div class="global-footer__contact"><span class="global-footer__contact__title">Phone</span>{{ footer.phoneNumber }}</div>
		<div class="global-footer__contact"><span class="global-footer__contact__title">Email</span><a href="mailto:{{ footer.footerEmail }}">{{ footer.footerEmail }}</a></div>


			<div class="global-footer_invitation">{{ footer.contactFormDescription }}</div>
			<!-- Contact Form -->
			<div class="contact-form">{% include 'global/contactform.html' %}</div>
			<!-- End Contact Form -->
	</section>
	<div class="footer-form__button__container">
		<a id="footer-form-toggle" href="#footer-form-toggle" class="footer-form__button button button-primary button--large">{{ footer.ctaButton }}</a>
	</div>


	<div class="footer-info__container">
		<section class="footer-info">
			<section class="footer-info__address">
				<div class="global-footer__text">
					{{ footer.street }}<br>
					{{ footer.footerAddress}}
				</div>
				<a href="basic-page.php" class="global-footer__directions">Get Directions to Our Office</a>
			</section>
			<section class="footer-info__contact">		
				<div class="global-footer__text">		
					<span class="global-footer__text__name">P:</span>{{ footer.phoneNumber }}
				</div>
				<div class="global-footer__text">
					<span class="global-footer__text__name">E:</span><a href="mailto:{{ footer.footerEmail }}">{{ footer.footerEmail }}</a>
				</div>
			</section>

			<!-- Social Media -->
			<section class="footer-info__social">
			{% for block in socMedia.socialMediaRepeater.type('socialName') %}
     			<a href="{{ block.socialMediaLink }}" class="footer-info__social__icon">{{ block.socialMediaName }}</a>
			{% endfor %}
			</section>
			<!-- End Social Media -->
			<section class="footer-info__supplemental">
				<div class="footer-info__about">	
					{{ footer.footerBlurb }}
				</div>	
				<div class="footer-info__legal">
					{{ footer.copyright }}
				</div>
			</section>	
		</section>	
	</div>	
</footer>