<footer class="global-footer">
	<h2> {{ footer.footerHeadline }}</h2>
	<p class="global-footer_text">{{ footer.contactFormDescription }}</p>
	<!-- Contact Form -->
		<div class="contact-form">{% include 'global/contactform.html' %}</div>
	<!-- End Contact Form -->




	<p class="global-footer__text">
		{{ footer.footerAddress }} 
		{{ footer.callToAction }}
	</p>
	<p class="global-footer__image">
		{% for image in craft.assets.title('Footer-Map') %}
    		<img src="{{ image.getUrl('aboutImageTransform') }}" alt="{{ image.title }}">
    	{% endfor %}
	</p>
	<p class="global-footer__text">
		{{ footer.footerEmail }}
		{{ footer.faxNumber }}
		{{ footer.phoneNumber }}
		{{ footer.footerBlurb }}
		{{ footer.copyright }}
	</p>

			<!-- Social Media -->
			{% for block in socMedia.socialMediaRepeater.type('socialName') %}
     			{{ block.socialMediaName }}
     			{{ block.socialMediaLink }}
			{% endfor %}
			<!-- End Social Media -->
</footer>