{% cache globally %}
<header role="banner">
	<a href="{{ siteUrl }}">{% for image in craft.assets.title('ideabaselogo') %}
    <img class="ideabaselogo" src="{{ image.getUrl('aboutImageTransform') }}" alt="{{ image.title }}">
    {% endfor %} </a>
     <span class="nav__trigger">
    	<a href="#" class="nav__trigger__link" id="navshow">Menu</a>
	</span>
	<nav role="navigation">
				<ul>
					<li class="nav__item">
						<a href="{{ url('process') }}" 
						{% if craft.request.firstSegment == 'process' %}class="active"{% endif %}>Process</a>
					</li>
					<li class="nav__item">
						<a href="{{ url('projects') }}" 
						{% if craft.request.firstSegment == 'projects' %}class="active"{% endif %}>Projects</a>
					</li>
					<li class="nav__item">
						<a href="{{ url('people') }}" 
						{% if craft.request.firstSegment == 'people' %}class="active"{% endif %}>People</a>
					</li>
      				<li class="nav__contact"><a href="#footer-form" id="contact-toggle"><span>Contact Us</span></a></li>
      			</ul> 
	</nav>
</header>
{% endcache %}