<header id="header">
				<a href="{{ siteUrl }}">{% for image in craft.assets.title('ideabaselogo') %}
    				<img width="50%" src="{{ image.getUrl('aboutImageTransform') }}" alt="{{ image.title }}">
    			{% endfor %} </a>
    			<p class="header-catchline">{{ header.headerCatchline }}</p>

			<nav>
				<ul class="nav">
					<li class="nav__item">
						<a href="{{ url('process') }}" 
						{% if craft.request.firstSegment == 'process' %}class="active"{% endif %}>Process</a>
					</li>
					<li class="nav__item">
						<a href="{{ url('projects') }}" 
						{% if craft.request.firstSegment == 'projects' %}class="active"{% endif %}>Projects</a>
					</li>
					<li class="nav__item">
						<a href="{{ url('people') }}" 
						{% if craft.request.firstSegment == 'people' %}class="active"{% endif %}>People</a>
					</li>
				</ul> 
			</nav>
		</header>