// Awards

.panel-primary.awards {
  text-align: left;
  padding-bottom: 1em;
}
.award-individual__text {
  color:$darkgray;
  margin-bottom: 1.5em;
}

.award-year__group {padding-top: 1em}

.award-year {
  margin-top: 0;
  padding-bottom: .5em;
  border-bottom: solid 2px #ddd;
  color: $darkgray;
}

.award-list {
  margin-top: 1em;
  margin-bottom: 2em;
  padding: 0;
  list-style-type: none;
}

.award-individual {margin-bottom: 2em}

.award-individual__date {
  margin-top: 0;
  margin-bottom: .5em;
}

.award-individual__title {margin-top: 0}

.award-individual__title {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: .25em;
  line-height: 1.2;
  text-decoration: none;
  color: $blue;
}

.award-individual__associated-project a {
  color: $blue;
  text-decoration: none;
  position: relative;
  &:hover, &:focus {
    color: $cyan;
  }
}

.award-individual__associated-project:after {
  content:"/";
}

.award-individual__associated-project:last-child:after {
  content:none;
}














