.section-basic-page {
  text-align: left;
  padding-top: 1em;
}

.section-basic-page .section-introduction .introduction:after {
	margin-bottom: 0em;
}

.section-basic-page ul {
	margin-bottom: 1.5em;
}