/* buttons */

.buttons {
  text-align: center;
}
.button {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-family: $mont;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: .65em;
  padding: 1em 1.4em 1em 1.8em;
  border-style: solid;
  border-width: 3px;
  margin: 1em 2em;
}
.button::after {
  content: "▶";
  font-size: .5em;
  padding-left: 15px;
}
.button-primary {
  background-color: rgb(26,95,171);
  border-color: rgb(26,95,171);
}
.button-secondary {
  background-color: rgb(0,168,225);
  border-color: rgb(0,168,225);
}
.button-tertiary {
  background-color: transparent;
  color: rgb(26,95,171);
  border-color: rgb(26,95,171);

}