/* buttons */

.buttons {
  text-align: center;
}
.button {
  display: inline-block;
  color: white;
  text-decoration: none;
  position: relative;
  font-family: $mont;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: .75em;
  padding: 1em 2.5em 1em 1.8em;
  border-style: solid;
  border-width: 3px;
  margin: 1em 0;
  transition: .3s all ease-in-out;
}

.section-blog-entry .panel-primary .button, .section-basic-page .panel-primary .button {
  color: white;
}

.button--large {
  padding: 1em 1em;
  font-size: .9em;
  text-align: center;
  @media screen and (min-width: 700px) {
    font-size: 1.2em;
    padding: 1em 1.25em;
  }
}

.button::after {
  content: "";
  background-image: url(../images/global/arrow-right-white.svg);
  background-size: auto;
  background-repeat: no-repeat;
  font-size: .5em;
  height: 10px;
  width: 10px;
  position: absolute;
  top: 36%;
  right: 3%;
}

.button--reverse {
  padding-left: 2.5em;
  &:after {
    background-image: url(../images/global/arrow-right-white.svg);
    transform: scaleX(-1);
    filter: FlipH;
    right: inherit;
    left: 3%;
  }
}

.button--large:after {
  content: none;
}

.button-primary {
  background-color: $blue;
  border-color: $blue;
  &:hover {
    background-color: $cyan;
    border-color: $cyan;
  }
}

.button-primary--inactive {
  background-color: $darkgray;
  border-color: $darkgray;
  &:hover {
    background-color: darken($darkgray, 10%);
  }
}
.panel-secondary .button-primary {
  background-color: white;
  color: rgb(26,95,171);
  border-color: white;
  &:hover {
    background-color: $cyan;
    color: white;
    border-color: $cyan;
  }
  &:after {
    background-image: url(../images/global/arrow-right-blue_151214_170628.svg);
  }
}

.panel-secondary .button.button-primary:hover {
  &:after {
  background-image:url(../images/global/arrow-right-white_151214_170629.svg);
}
}


.button-secondary {
  background-color: $cyan;
  border-color: $cyan;
  &:hover {
    background-color: $blue;
  }
}
.button-tertiary {
  background-color: transparent;
  color: rgb(26,95,171);
  border-color: rgb(26,95,171);
  &:hover {
    background-color: transparent;
    border-color: $cyan;
  }
}

.section-body-button .button {
  margin-top: 0;
}

.section-body-button .button {
  margin-bottom: 3em;
}

input[type="button"], input[type="reset"], input[type="submit"] {
  @extend .button;
  @extend .button-primary;
  text-align: left;
  float: left;
  margin-left: 0;
  @media screen and (min-width: 700px) {
    margin-left: 1%;
  }
  margin-top: 0;
}