.section-body-image {
	overflow: hidden;
	padding-top: 0;
}

.section-body-image figure {
	padding: 0;
	width: 119%;
	max-width: 119%;
	margin-left: -2em;
	margin-bottom: 0;
	margin-top: .5em;
	@media screen and (min-width: 600px) {
		margin-left: auto;
		margin-right: auto;
		max-width: 100%;
		width: 85%;
	}
}

figcaption {
	color: $darkgray;
	font-size: .9em;
	margin-top: .5em;
}