/* footer */

.global-footer {
	text-align: center;
	margin-top: 4em;
}

.footer-info__container {
  background-color: lighten($lightgray,5%);
  top: 40px;
  position: relative;
  @media screen and (min-width: 700px) {
    top: 50px;
  }
}

.footer-info {
  padding: 4.5em 2em 2em 2em;;
  font-weight: 500;
  text-align: left;
  margin: 0 auto;
  max-width: 1100px;
  p, a {
    font-size: .75rem;
    font-weight: 500;
  }
  @media screen and (min-width: 700px) {
    padding: 5em 2em 2em 2em;
    p, a {
      font-size: .75rem;
    }
  }
}

.footer-info__address, .footer-info__contact {
	width: 200px;
  margin: 0 auto;
  margin-bottom: 1em;
  font-weight: 600;
  text-align: center;
  p, a {
    font-size: .95rem;
  }
  a {
    color: $blue;
    text-decoration: none;
  }
  @media screen and (min-width: 700px) {
    width: 50%;
    float: left;
    text-align: center;
    margin-bottom: 2em;
  }
  @media screen and (min-width: 900px) {
    width: 33%;
    text-align: left;
  }
  @media screen and (min-width: 1100px) {
    width: 38%;
    text-align: left;
  }
}

.global-footer__directions {
  display: inline-block;
  position: relative;
  padding-right: 1.1em;
 &:after {
    content: "";
    background-image: url(../images/global/arrow-right-blue_151214_170628.svg);
    background-size: auto;
    background-repeat: no-repeat;
    font-size: .5em;
    height: 10px;
    width: 7px;
    position: absolute;
    right: 0;
    top: 4px;
  }
}

.global-footer__text {
  margin: 0;
  padding: 0;
  font-weight:normal;
  line-height: 1.5;
}

.footer-info__social {
  text-align: center;
  @include clearfix;
  width: 240px;
  margin: 1.5em auto 1em auto;
}

.footer-info__social--footer {
  @media screen and (min-width: 700px) {
    clear: left;
  }

  @media screen and (min-width: 900px) {
    width: 29%;
    float: right;
    clear: none;
    text-align: left;
  }
  @media screen and (min-width: 1100px) {
    width: 24%;
  }
}

.global-footer__text__name {
  color: $blue;
  padding-right: .5em;
}

.footer-info__supplemental {
	text-align: center;
 
	font-size: .85em;
  width: 100%;
  clear: left;
  @media screen and (min-width: 900px) {
    text-align: left;
    font-size: .85em;
  }
}

.footer-info__social__icon {
  background-repeat: no-repeat;
  background-size: 100% auto;
  float: left;
  display: inline;
  width: 35px;
  height: 35px;
  margin-left: .15rem;
  margin-right: .15rem;
  text-indent: -9999px;
  transform: scale(.95);
  transition: .1s transform ease-in;
  &:hover {
    transform: scale(1.05);
  }
  &[href*="facebook.com"] {
    background-image: url(../images/global/facebook.svg);
  }
  &[href*="flickr.com"] {
    background-image: url(../images/global/flickr.svg);
  }
  &[href*="linkedin.com"] {
    background-image: url(../images/global/linkedin.svg);
  }
  &[href*="twitter.com"] {
    background-image: url(../images/global/twitter.svg);
  }
  &[href*="youtube.com"] {
    background-image: url(../images/global/youtube.svg);
  }
  &[href*="instagram.com"] {
    background-image: url(../images/global/instagram.svg);
  }
}

.footer-info__legal {
  margin: 0;
  padding: 0;
  line-height: 1.4;
  a {
    color: $blue;
    text-decoration: none;
  }
}

.footer-info__logo {
  width: 125px;
  display: block;
  margin: 0 auto;
  margin-bottom: 1em;
  margin-top: 1em;
  img {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  @media screen and (min-width: 900px) {
    float: right;
    display: inline-block;
    margin-top: 48px;
    width: 150px;
  }
}

.footer-info__nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  margin-top: 1.5em;
  display: inline-block;
  margin-bottom: 1.5em;
  @include clearfix;
  @media screen and (min-width: 900px) {
    margin-left: 0;
    width: auto;
    margin-top: 0;
  }
}

.footer-info__nav__item {
  float: left;
  font-weight: 600;
  margin-left: .5em;
  margin-right: .5em;
  a {
    color: $blue;
    text-decoration: none;
    font-size: .8rem;
  }
  @media screen and (min-width: 450px) {
    a {
      font-size: 1rem;
    }
  }
  @media screen and (min-width: 900px) {
    margin-left: 0;
    margin-right: 2em;
    margin-bottom: 1em;
    a {
      font-size: 1.05rem;
    }
  }
}

.footer-info__about {
  a {
    color: $blue;
    text-decoration: none;
  }
  @media screen and (max-width: 900px) {
    display: none;
  }
}
