/* headings */

h1 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 2em;
  color: rgb(0,168,225);
}
h2 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.4em;
  color: rgb(26,95,171);
  letter-spacing: 3px;
}
h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  color: rgb(26,95,171);
}