/* header */

header {
  text-align: center;
  @include clearfix;
}

.nav__trigger {
  display: block;
  @media screen and (min-width: 600px) {
    display: none;
  }
}

.nav__trigger__link {
  display: inline-block;
  background-color: $blue;
  padding: .9em 1.5em 1em 2em;
  text-decoration: none;
  color: white;
  margin-bottom: 1em;
  font-family: $mont;
  text-transform: uppercase;
  font-size: .7em;
  letter-spacing: 3px;
  &:after {
    content: "▾";
    padding-left: .9em;
    font-size: 1.3em;
  }
}

nav {
  height: 0;
  opacity: 0;
  transition: all .7s ease-out;
  overflow: hidden;
  li {
    opacity: 0;
    transition: all .25s ease-out;
  }
  @media screen and (min-width: 600px) {
    display: block;
    height: auto;
    opacity: 1;
    transition: none;
    li {
      height: auto;
      opacity: 1;
      transition: none;
    }
  }
}

.nav--show {
  height: auto;
  opacity: 1;
  background-color: $blue;
  padding-top: 1.25em;
  li {
    opacity: 1;
    transition: none;
    letter-spacing: 2px;
    padding: 0 0 1.25em 0em;
  }
  a {
    color: white;
  }
}
.nav--show .nav__contact {
  background-color: white;
  margin-bottom: 0;
  padding-top: .75em;
  padding-bottom: .75em;
  span {
   display: none;
  }
  a {
    color: $blue;
    padding-top: 2em;
    display: block;
    background-image: url(../Images/global/envelopeicon.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60px auto;
  }
}

nav li {
  list-style-type: none;
  font-family: $mont;
  text-transform: uppercase;
  padding: .4em;
  font-size: 1em;
  a {
    color: rgb(26,95,171);
    text-decoration: none;
  }
}

@media screen and (min-width: 600px) {
  nav li {
    display: inline;
    margin: 2em;
  }
}
@media screen and (min-width: 1000px) {
  .ideabaselogo {
    text-align: left;
    width: 40%;
    float: left;
  }
  header {
    text-align: right;
    margin-right: 1.5em;
  }
  nav {
    margin-top: 2em;
    width: 60%;
    float: right;
    margin-right: 1.4em;
    font-size: .85em;
  }
}


ul {
  margin: 0;
  padding: 0;
}
