.section-header {
  animation: fadeIn 1s;
  text-align: center;
  background-size: 150% auto;
  background-position: center;
  padding: 4em 0em;
  position: relative;
  background-color: lighten($blue,10%);
  background-blend-mode: multiply;
  &:after {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: darken(rgba($blue,.3),15%);
    top: 0;
    left: 0;
    display: block;
    content: "";
  }
  @media screen and (min-width: 500px) {
    padding: 5em 0em;
    min-height: 200px;
  }
  @media screen and (min-width: 700px) {
    padding: 6em 7em;
    background-size: 115% auto;
  }
  @media screen and (min-width: 1000px) {
  	padding: 8em 12em;
  }
  @media screen and (min-width: 1500px) {
    padding: 10em 26em;
    background-size: 100% auto;
  }
  @media screen and (min-width: 1900px) {
    padding: 13em 30em;
    background-size: 100% auto;
  }
}

.flexbox .section-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-header--interior {
  background-position: center;
  background-blend-mode: overlay;
  background-color: rgba(26, 95, 171, 1);
  &:after {
    background-color: darken(rgba($blue,.35),20%);
  }
  @media screen and (min-width: 500px) {
    padding: 2em 2em;
  }
  @media screen and (min-width: 700px) {
    padding: 4em 5em;
  }
  @media screen and (min-width: 1000px) {
    padding: 5em 12em;
    height: 275px;
  }
  @media screen and (min-width: 1500px) {
    padding: 8em 26em;
    height: 300px;
  }
}

.no-backgroundblendmode .section-header, .no-backgroundblendmode .section-header--interior {
  &:after {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	background-color: rgba(darken($blue, 10%),.75);
  	top: 0;
  	left: 0;
  	display: block;
  	content: "";
  }
}

.section-header--interior .section-header__title {
  @media screen and (min-width: 1000px) {
    font-size: 2.5em;
  }
}

.section-header__container {
	z-index: 100;
  position: relative;
}

.section-header__title {
  margin-top: 0;
  padding: 1em;
  padding-bottom: 0;
  padding-top: 0;
  margin: 0 auto;
  text-shadow: 1px 1px 5px rgba(0,0,0,.8);
  color: white;
  font-size: 1.5em;
  @media screen and (min-width: 400px) {
    font-size: 1.6em;
  }
  @media screen and (min-width: 500px) {
    font-size: 1.9em;
  }
  @media screen and (min-width: 700px) {
    font-size: 2.2em;
  }
  @media screen and (min-width: 1000px) {
    font-size: 3em;
  }
}

.section-header__text {
	color: white;
	padding: 0 2em;
	max-width: 800px;
	margin: 0 auto;
  font-size: 1em;
  text-shadow: 1px 1px 5px rgba(0,0,0,.8);
  p {
    margin-bottom: 0;
    @media screen and (min-width: 400px) {
      font-size: 1.1em;
    }
    @media screen and (min-width: 500px) {
      font-size: 1.2em;
    }
    @media screen and (min-width: 700px) {
      font-size: 1.4em;
    }
  }
  &:before {
    content: "";
    width: 1.5em;
    white-space: pre;
    height: 3px;
    margin: 0 auto;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    background-color: white;
    display: block;
  }
}

.section-header--interior .section-header__container {
  padding-top: 5%;
}

.flexbox .section-header--interior .section-header__container {
  padding-top: 0;
}

.section-header__text--interior {
  padding: 1.5em;
  @media screen and (min-width: 700px) {
    font-size: 1.3em;
  }
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.hero-video {
  display: block;
  width: 100%;
  position: absolute;
}
