.project-single__description ul, .section-blog-entry .panel-primary ul, .section-basic-page ul {
	  font-size: 1.05em;
	  line-height: 1.5;
	  font-weight: 400;
	  list-style-type: none;
	  margin: 0;
	  padding: 0;
	  columns: 200px 2;
	  margin-bottom: 2em;
	  margin-top: 1em;
	  li {
	  	padding-left: 1.25em;
	  	display: inline-block;
	  	width: 100%;
	  	margin-bottom: .5em;
	  	position: relative;
	  }
	  li:before {
		content: "";
		height: 5px;
		width: 5px;
		margin-bottom: 3px;
		display: inline-block;
		background-color: $cyan;
		margin-right: .7rem;
		color: $cyan;
		font-size: 1rem;
		margin-left: -1rem
	  }
	  @media screen and (min-width: 900px) {
	    font-size: 1.1em;	
	   }
}

.project-single__description ul, .section-blog-entry .panel-primary ol, .section-basic-page.panel-primary ol, .panel-secondary ol {
	line-height: 1.5;
	font-weight: 400;
	font-size: 1.05em;
	li {
		margin-bottom: .5em;
	}
}
