.section-people-home {
	&:after {
	  content: "";
	  width: 1.5em;
	  white-space: pre;
	  height: 3px;
	  margin: 0 auto;
	  margin-top: 3em;
	  margin-bottom: 5em;
	  background-color: $blue;
	  display: block;
	}
}

.section-people__logos {
	list-style-type: none;
	margin: 0;
	padding: 0;
	columns: 50px 2;
	column-gap: 2em;
	margin-top: 2em;
	margin-bottom: 2.5em;
	@media screen and (min-width: 600px) {
		columns: 25px 4;
	}
}

.section-people__logos__item {
	max-width: 175px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: .5em;
	img {
		max-height: 90px;
	}
}

.no-csscolumns .section-people__logos {
		margin-left: 2em;
		margin-bottom: 4em;
}

.no-csscolumns .section-people__logos__item {
	@media screen and (min-width: 800px) {
		float: left;
		width: 23%;
		margin: 1%;
		margin-bottom: 2%;
	}
}