/* secondary layout */


.panel-secondary-container {
	background-color: $cyan;
  position: relative;
}

.panel-primary, .panel-secondary {
	padding: 1.5em 2em 1.5em 2em;
	max-width: 900px;
  z-index: 200;
  position: relative;
  margin: 0 auto;
  @media screen and (min-width: 650px) {
    padding: 2em 3em 2em 3em;
  }
}

.panel-primary {
  padding: 1.5em 2em 0 2em;
  text-align: center;
  @media screen and (min-width: 650px) {
    padding: 1.5em 3em 0em 3em;
  }
}

.panel-primary-wide {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  padding: 1.5em 2em;
}

.panel-secondary {
  margin-top: 2em;
  @media screen and (min-width: 650px) {
    padding: 3.5em 3em;
  }
}

.panel-secondary h2 {
  margin-top: 1em;
}
.panel-secondary p {
  margin-bottom: .5em;
}

.panel-secondary {
  color: white;
  text-align: center;
  @include clearfix;
}
.panel-secondary h2 {
  margin-bottom: 1em;
}
.panel-secondary h2, .panel-secondary h3, .panel-secondary .highlight {
  color: white;
}
.panel-secondary h1 {
  color: rgb(0,168,225);
}

.panel-secondary__thumbnail {
  width: 150px;
  border: 2px solid white;
  @media screen and (min-width: 800px) {
    float: left;
    margin-right: 5%;
    width: 20%;
    margin-top: .5em;
  }
}

.panel-secondary--left {
  @media screen and (min-width: 800px) {
    text-align: left;
    margin-bottom: 2em;
    float: left;
    width: 75%;
    p {
      margin-top: 0;
    }
  }
}

.panel-background-image {
  &:after {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba($blue,.9);
    top: 0;
    left: 0;
    display: block;
    content: "";
    z-index: 10;
  }
}
