/* secondary layout */


.panel-secondary-container {
	background-color: $cyan;
  position: relative;
  background-attachment: fixed;
  &:after {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba($blue,.8);
    top: 0;
    left: 0;
    display: block;
    content: "";
  }
}

.panel-primary, .panel-secondary {
	padding: 1.5em 2em;
	max-width: 1000px;
	margin: 0 auto;
  z-index: 200;
  position: relative;
  @media screen and (min-width: 650px) {
    padding: 2em 3em;
  }
}

.panel-secondary {
  color: white;
  text-align: center;
}
.panel-secondary h2, .panel-secondary h3, .panel-secondary .highlight {
  color: white;
}
.panel-secondary h1 {
  color: rgb(0,168,225);
}

.panel-projects {
  background-image: url(../Images/global/practice.jpg);
}
