/* paragraph */

p {
  font-size: 1.1em;
  line-height: 1.5
}
.introduction {
  font-size: 1.2em;
  font-weight: 500;
  color: rgb(77,77,77);
  text-align: center;
  @media screen and (min-width: 700px) {
		font-size: 1.4em;
  }
}
