/* paragraph */

p {
  font-size: 1.1em;
  line-height: 1.5;
  font-weight: 300;
  @media screen and (min-width: 900px) {
    font-size: 1.25em;
  }
}
.introduction {
  font-size: 1.3em;
  font-weight: 500;
  color: rgb(77,77,77);
  text-align: center;
  margin-bottom: 0;
  @media screen and (min-width: 700px) {
		font-size: 1.5em;
  }
  a {
    color: $blue;
  }
  &:after {
    content: "";
    width: 1.5em;
    white-space: pre;
    height: 3px;
    margin: 0 auto;
    margin-top: 2em;
    background-color: $blue;
    display: block;
  }
}
