.section-blog-teaser {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  //border-top: 1px solid $cyan;
  margin-top: 3em;
  margin-bottom: 3em;
  padding-bottom: 1em;
  //border-bottom: 1px solid $cyan;
  @include clearfix;
  @media screen and (min-width: 600px) {
    margin-top: 0;
    margin-bottom: 4em;
  }
  @media screen and (min-width: 850px) {
    h3 {
      text-align: center;
      margin-bottom: .5em;
      margin-top: .25em;
    }
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1.5em;
    width: 90%;
  }
}

.blog-teaser-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.blog-teaser {
    color: $darkgray;
    text-align: center;
    a {
      text-decoration: none;
    }
    @media screen and (min-width: 850px) {
      width: 45%;
      float: left;
    }
}

.section-blog-teaser .blog-teaser:first-of-type {
  @media screen and (min-width: 850px) {
    margin-right: 10%;
  }
}

.blog-teaser__link {
  color: $blue;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 1.5em;
  display: inline-block;
  position: relative;
  font-size: .95em;
  padding-right: 1.2em;
  &:hover, &:focus {
    color: $cyan;
  }
  &:after {
     content: "";
     background-image: url(../Images/global/arrow-right-blue.svg);
     background-size: auto;
     background-repeat: no-repeat;
     font-size: .5em;
     height: 10px;
     width: 7px;
     position: absolute;
     right: 0;
     top: 6px;
   }
}

.blog-teaser__title {
  margin-top: 1.25em;
  //text-align: left;
  font-size: 1.2em;
  margin-bottom: .25em;
  line-height: 1.2;
  text-transform: none;
}

.blog-teaser__author {
  color: $darkgray;
  margin-top: 0;
  //text-align: left;
  text-transform: uppercase;
  font-size: .9em;
  letter-spacing: 1px;
}

.blog-teaser__text {
  font-size: .95em;
  //text-align: left;
  margin-top: 0;
  padding-top: 0em;
  color: $darkgray;
}


// Single Blog Entries //


.section-header-blog {
  max-height: 400px;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.blog__entry {
  @include clearfix;
}

.blog__entry__title {
  text-align: left;
  text-transform: none;
  color: $blue;
  font-size: 1.7em;
  margin-bottom: .5em;
  @media screen and (min-width: 800px) {
    font-size: 2.2em;
  }
}

.blog__entry__author:after {
  content: "|";
  padding-left: 1em;
}

.blog__entry__author, .blog__entry__date {
  font-weight: 600;
  text-align: left;
  display: inline-block;
  float: left;
  margin-right: 1em;
  color: $blue;
}

.blog__entry__text {
  clear: left;
  text-align: left;
  padding-top: 1em;
  margin-bottom: 1.5em;
  p {
    font-size: 1.2em
  }
}

.blog__entry__tags {
  list-style-type: none;
  margin: 0;
  padding: 0;
  @include clearfix;
  margin-bottom: 1.5em;
}

.blog__entry__tags__item {
  display: inline-block;
  float: left;
  background-color: lighten($lightgray,5%);
  color: $darkgray;
  text-decoration: none;
  margin-right: 1em;
  padding: .75em .9em;
  font-size: .9em;
  font-weight: 600;
  transition: .2s all ease-in-out;
  &:hover {
    background-color: $darkgray;
    color: $lightgray;
  }
}

.blog__entry__author__image {
  float: left;
  margin-right: 1.5em;
  margin-top: -.5em;
  img {
    border-radius: 30px;
    width: 60px;
  }
}

.blog__entry__author__name, .blog__entry__author__info {
  color: $blue;
  font-weight: 600;
  display: block;
  text-align: left;
}

.blog__entry__sidebar {
  padding-top: 2em;
  text-align: left;
  &:after {
    content: "";
    width: 1.5em;
    white-space: pre;
    height: 3px;
    margin: 0 auto;
    margin-top: 3em;
    margin-bottom: 5em;
    background-color: $blue;
    display: block;
  }
}

.blog__entry__related__title {
  margin-top: 2em;
}

.blog__entry__author__description {
  margin-top: 1.5em;
  font-size: 1em;
  font-weight: 300;
}

.people-posts--blog .people-posts__title {
  text-align: left;
}

.people-posts--blog {
  margin-top: 2em;
  width: 100%;
  float: none;
  margin-bottom: 2em;
  text-align: left;
}


.blog-teaser__link--blog {
  margin-top: 0;
}
