/* headings */

.section-projects {
  text-align: center;
}

.section-projects__list {
  list-style-type: none;
  padding: 0;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 2em;
  @media screen and ( min-width: 700px ) {
    width: 90%;
    margin-bottom: 1em;
  }
}

.section-projects__list__item {
  @media screen and ( min-width: 700px ) {
    padding: 1.5em;
    display: inline-block;
    float: left;
    width: 31%;
    margin: 0 1%;
  }
}

.section-projects__list a {
  text-decoration: none;
}

.section-projects__list:after {
  content: 'flickity';
  display: none; /* hide :after */
}

/* smaller, dark, rounded square */
.flickity-prev-next-button {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background: transparent;
}
.flickity-prev-next-button:hover {
  background: $blue;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: white;
}
.flickity-prev-next-button.no-svg {
  color: white;
}
/* position outside */
.flickity-prev-next-button.previous {
  left: -40px;
}
.flickity-prev-next-button.next {
  right: -40px;
}

/* position dots in gallery */
.flickity-page-dots {
  bottom: -25px;
}
/* white circles */
.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid white;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: white;
}

.flickity-enabled:focus .flickity-viewport {
  outline: thin dotted;
  outline: 1px auto -webkit-focus-ring-color;
}

.section-projects__list__item__name {
  font-size: 1.2em;
}

@media screen and ( max-width: 700px ) {

  .section-projects__list {
    margin-top: 2em;
    margin-bottom: 3em;
  }

  .section-projects__list__item {
    width: 100%; /* full width */
    height: auto; /* height of gallery */
    margin-right: 10px;
  }
  .section-projects__list__item__thumb {
    width: 100%;
    max-width: 300px;
  }
}

@media screen and ( min-width: 700px ) {
  /* disable Flickity for large devices */
  .section-projects__list:after {
    content: '';
  }
}

.section-projects__list__item__thumb {
  transition: .2s all ease-in-out;
  border: 4px solid transparent;
   &:hover {
     border-color: $cyan;
   }
}

// Start Projects on Projects Page //

.section-projects-featured {
  margin-top: 0;
  display: block;
  margin-bottom: 2em;
  text-align: center;
  background-color: $blue;
  color: white;
  padding-bottom: 2em;
  padding-top: 2em;
  @media screen and (min-width: 850px) {
    padding-top: 5em;
    padding-bottom: 3em;
    margin-top: 6em
  }
}

.section-projects-featured .button {
  margin-top: 1em;
  @media screen and (min-width: 850px) {
    margin-top: 3em;
  }
}

.section-projects-featured .project-entry:nth-child(2) {
  .project-entry__description {
    background-color: rgba($blue,.95);
  }
}

.project-entry {
  overflow: hidden;
  display: block;
  position: relative;
  margin-bottom: 2px;
  &:after {
    content: "";
    background-color: rgba($blue,0);
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    z-index: 50;
    transition: .3s all ease-in-out;
  }
  @media screen and (min-width: 700px) {
    height: 650px;
    &:hover {
      .project-entry__description {
        width: 45%;
        background-color: rgba($cyan,1);
      }
      &:nth-child(2) .project-entry__description {
        background-color: rgba($blue,1);
      }
      &:after {
        background-color: rgba($blue,.3);
      }
    }
  }
}

.project-entry__image {
  width: 250%;
  max-width: 250%;
  margin-left: -50%;
  @media screen and (min-width: 500px) {
    width: 170%;
    max-width: 170%;
    margin-left: -50%;
  }
  @media screen and (min-width: 800px) {
    width: 115%;
    max-width: 115%;
    margin-left: 0;
  }
  @media screen and (min-width: 900px) {
    width: 130%;
    max-width: 130%;
    margin-top: -15%;
  }
  @media screen and (min-width: 1200px) {
    width: 105%;
    max-width: 105%;
    margin-top: -5%;
  }
}

.project-entry__description__container {
  max-width: 500px;
  @media screen and (min-width: 700px) {
    width: 300px;
    max-width: inherit;
  }
  @media screen and (min-width: 1500px) {
    width: 500px;
  }
}

.project-entry__description__title {
  color: white;
  font-size: 1.5em;
  margin-bottom: 0;
  padding-bottom: 0;
  @media screen and (min-width: 600px) {
    font-size: 2em;
  }
  @media screen and (min-width: 700px) {
    text-align: left;
  }
  @media screen and (min-width: 800px) {
    font-size: 2.2em;
  }
}

.project-entry__description__client {
  font-weight: 500;
  margin-top: 0;
  padding-top: .25em;
  font-weight: 600;
}

.testimonial-entry--project {
  padding: 1.2em;
  blockquote {
    margin-top: .5em;
    font-size: 1.5em;
  }
  cite {
    margin-bottom: 1.5em;
  }
}

.project-entry__description__text {
  p {
    font-size: .9em;
    @media screen and (min-width: 700px) {
      font-size: 1em;
    }
  }
}

.project-entry__description {
  position: absolute;
  bottom: 0;
  background-color: rgba($cyan,.95);
  margin-top: 25%;
  color: white;
  padding: .75em 1.25em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s all ease-in-out;
  z-index: 100;
  @media screen and (min-width: 700px) {
    width: 50%;
    bottom: inherit;
    top: 0;
    margin-top: 0;
    height: 100%;
    text-align: left;
    padding: 1em 3em;
  }
  @media screen and (min-width: 800px) {
    width: 40%;
  }
  @media screen and (min-width: 1500px) {
    padding: 3em
  }
}

.project-entry__description__award {
  width: 250px;
  margin: 0 auto;
  font-size: .8em;
  text-align: left;
  margin-top: 2em;
  @media screen and (min-width: 600px) {
    font-size: .85em;
    width: 200px;
  }
  @media screen and (min-width: 700px) {
    margin-left: inherit;
  }
}

.project-entry__description__award img {
  width: 25px;
  float: left;
  margin-right: 1em;
  @media screen and (min-width: 700px) {
    width: 45px;
    margin-top: .2em;
  }
}

// Single Project Pages //

.project-single {
  text-align: left;
}

.project-single__name {
  color: $blue;
  font-size: 1.75em;
  margin-bottom: 1em;
  margin-top: 0;
  @media screen and (min-width:800px) {
    font-size: 2.2em;
  }
}

.project-single__images {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 4em;
  min-height: 200px;
  @media screen and (min-width: 800px) {
    width: 100%;
  }
}

.project-single__images:after {
  content: 'flickity';
  display: none;
}

.project-single__images__item {
  width: 100%; /* full width */
  height: auto; /* height of gallery */
  img {
    width: 100%;
  }
}

.project-single__images .flickity-prev-next-button {
  width: 30px;
  height: 30px;
  border-radius: 0;
  background: $blue;
}

.project-single__images .flickity-prev-next-button.previous {
  left: -15px;
}

.project-single__images .flickity-prev-next-button.next{
  right: -15px;
}

.project-single__images .flickity-page-dots .dot {
  background: $lightgray;
}

.project-single__images .flickity-page-dots .is-selected {
  background: $darkgray;
}

.project-single__images .flickity-page-dots {
  bottom: -30px;
}

.project-single__team__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
  columns: 50px 2;
  font-size: 1em;
}

.project-entry__description__award--project-single {
  margin-left: 0;
  margin-bottom: 2em;
  margin-top: 2em;
  img {
    width: 50px;
    margin-right: 1.5em
  }
  p {
    font-size: 1.25em;
    color: $blue;
    font-weight: 600;
  }
  @media screen and (min-width: 600px) {
    margin-top: 5.5em;    
    margin-left: auto;
  }
}

.project-single__team__list__item {
  margin-bottom: .5em;
  font-weight: 600;
  display: inline-block;
  a {
    color: $blue;
    text-decoration: none;
  }
}

.project-single__aside {
  @include clearfix;
  margin-bottom: 1em;
}

.project-single__team__title {
  font-size: 1.2em;
}

@media screen and (min-width: 600px) {
  .project-single__team {
    width: 60%;
    float: left;
    padding-right: 10%;
  }
  .project-single__info {
    width: 20%;
    float: left;
  }
}

// Project Listing Page //

.section-projects-all {
  padding-bottom: 0;
  padding-top: 0;
}

.section-projects-featured .section-projects-all {
  z-index:5000;
  @media screen and (min-width: 850px) {
    margin-top: -10em;
  }
}

.section-projects-featured .project-list {
  width: 100%;
  @media screen and (min-width: 600px) {
    width: 95%;
  }
}

.section-projects-featured .project-list__item {
  margin-right: auto;
  margin-left: auto;
  @media screen and (min-width: 600px) {
    width: 100%;
    margin-bottom: 2em;
  }
  @media screen and (min-width: 850px) {
    width: 30%;
    margin-bottom: 0;
    margin: 0 1.667%
  }
}

.project-list {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  width: 80%;
  a {
    text-decoration: none;
  }
}

.project-list__item {
  margin-bottom:  2.5em;
}

.project-list__item__image {
  position: relative;
  z-index: 50;
  display: block;
  &:before {
    transition: .3s all ease-in-out;
    background-color: rgba($blue,0);
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    z-index: 100;
    transition: .3s all ease-in-out;
  }
  img {
    display: block;
  }
}

.project-list__item__description {
  color: $darkgray;
  text-align: center;
  font-size: 1em;
  width: 90%;
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 2em;
  @media screen and (min-width: 600px) {
    margin-bottom: 0;
  }
}

.project-list__item__image:hover, .project-list__item__image:focus {
  &:before {
    background-color: rgba($blue,.5);
  }
}

.project-list__item__name {
  font-size: 1.2em;
  margin-bottom: 0;
  padding-bottom: 0;
}

.project-list__item__client {
  font-size: 1em;
  margin-top: .35em;
  text-align: center;
}

.project-category {
  text-align:center;
  position: relative;
}

.project-category__list {
  list-style-type: none;
  padding: 1em;
  width: 60%;
  margin: 0 auto;
  background-color: $darkgray;
  transition: .3s all ease-in-out;
}

.project-category__list__item {
  padding-top: .75em;
  font-size: 1em;
  color: white;
  a {
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
  }
}

.project-category .nav__trigger__link {
  display: none;
}

.js .project-category .nav__trigger__link {
  display: inline-block;
  font-size: .75em;
  background-color: $lightgray;
  color: $darkgray;
  cursor: pointer;
  &:after {
    background-image: url(../images/global/downarrowgray.svg);
    background-size: 50% auto;
    top: 40%;
  }
}

.js .project-category__list {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in;
  padding: 0;
}

.project-category__list.project--show {
  max-height: inherit;
  padding: 1em;
  padding-top: .5em;
  padding-bottom: 1.25em;
  position: absolute;
  z-index:1000;
  margin: 0 auto;
  width: 67.8%;
  margin-top: -1.1em;
  left: 16%;
  //border:1px solid white;
}

.nav__trigger__link.button--show {
  background-color: $cyan;
}

@media screen and (min-width: 600px) {

  .project-list {
    width: 100%;
    margin-top: 1em;
  }

  .project-list .project-list__item:nth-child(odd) {
    margin-right: 2.5%;
    margin-left: 2.5%
  }

  .project-list__item {
    width: 45%;
    float: left;
    max-width: inherit;
    margin-bottom: 2em;
  }

  .project-list {
    @include clearfix;
  }
}

@media screen and (min-width: 850px) {
  .project-list__item {
    width: 30%;
    float: left;
    margin: 0em 1.667% 3em 1.667%;
  }

  .project-list .project-list__item:nth-child(odd) {
    margin: 0 1.667%;
  }

  .project-list .project-list__item:nth-child(3n+1) {
    clear: left;
  }
}

.project-list__item--featured {
  margin-bottom: 3em;
  color: white;
  @media screen and (min-width: 800px) {
    margin-bottom: 0em;
  }
}

.project-list__item--featured .project-list__item__name {
  color: white;
}

.project-list__item--featured .project-list__item__description {
  color: white;
}

.project-list__item--featured .project-list__item__client {
  color: white;
}

.project-list__item--featured .project-list__item__image {
  @media screen and (min-width: 800px) {
    margin-bottom: 2em;
  }
}

.section-projects-all-button {
  @media screen and (min-width: 800px) {
    margin-top: -1em;
  }
}