/* headings */

.section-projects {
  text-align: center;
}

.section-projects__list {
  list-style-type: none;
  padding: 0;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 2em;
  @media screen and ( min-width: 700px ) {
    columns: 100px 3;
    width: 90%;
    margin-bottom: 1em;
  }
}

.section-projects__list__item {
  @media screen and ( min-width: 700px ) {
    padding: 1.5em;
  }
}

.section-projects__list a {
  text-decoration: none;
}

.section-projects__list:after {
  content: 'flickity';
  display: none; /* hide :after */
}

/* smaller, dark, rounded square */
.flickity-prev-next-button {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background: transparent;
}
.flickity-prev-next-button:hover {
  background: $blue;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: white;
}
.flickity-prev-next-button.no-svg {
  color: white;
}
/* position outside */
.flickity-prev-next-button.previous {
  left: -40px;
}
.flickity-prev-next-button.next {
  right: -40px;
}

/* position dots in gallery */
.flickity-page-dots {
  bottom: -15px;
}
/* white circles */
.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid white;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: white;
}

.flickity-enabled:focus .flickity-viewport {
  outline: thin dotted;
  outline: 1px auto -webkit-focus-ring-color;
}

@media screen and ( max-width: 700px ) {

  .section-projects__list {
    margin-top: 2em;
  }

  .section-projects__list__item {
    width: 100%; /* full width */
    height: auto; /* height of gallery */
    margin-right: 10px;
  }
  .section-projects__list__item__thumb {
    width: 100%;
    max-width: 300px;
  }
}

@media screen and ( min-width: 700px ) {
  /* disable Flickity for large devices */
  .section-projects__list:after {
    content: '';
  }
}

.section-projects__list__item__thumb {
  transition: .2s all ease-in-out;
  border: 4px solid transparent;
   &:hover {
     border-color: $cyan;
   }
}

// Start Projects on Projects Page //

.section-projects-featured {
  margin-top: 3em;
  display: block;
  margin-bottom: 2em;
  text-align: center;
}
.section-projects-featured .button {
  margin-top: 4em;
}

.section-projects-featured .project-entry:nth-child(2) {
  .project-entry__description {
    background-color: rgba($cyan,.95);
  }
}

.project-entry {
  overflow: hidden;
  display: block;
  position: relative;
  margin-bottom: 2px;
  &:after {
    content: "";
    background-color: rgba($blue,0);
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    z-index: 50;
    transition: .3s all ease-in-out;
  }
  @media screen and (min-width: 800px) {
    height: 550px;
    &:hover {
      .project-entry__description {
        width: 45%;
        background-color: rgba($blue,1);
      }
      &:nth-child(2) .project-entry__description {
        background-color: rgba($cyan,1);
      }
      &:after {
        background-color: rgba($blue,.3);
      }
    }
  }
}

.project-entry__image {
  width: 250%;
  max-width: 250%;
  @media screen and (min-width: 500px) {
    width: 150%;
    max-width: 150%;
  }
  @media screen and (min-width: 800px) {
    width: 115%;
    max-width: 115%;
  }
  @media screen and (min-width: 900px) {
    width: 130%;
    max-width: 130%;
    margin-top: -15%;
  }
  @media screen and (min-width: 1200px) {
    width: 105%;
    max-width: 105%;
    margin-top: -15%;
  }
}

.project-entry__description__container {
  max-width: 500px;
  @media screen and (min-width: 800px) {
    width: 300px;
    max-width: inherit;
  }
  @media screen and (min-width: 1500px) {
    width: 500px;
  }
}

.project-entry__description__title {
  color: white;
  font-size: 1.75em;
  margin-bottom: 0;
  padding-bottom: 0;
  @media screen and (min-width: 700px) {
    font-size: 2em;
  }
  @media screen and (min-width: 800px) {
    font-size: 2.2em;
    text-align: left;
  }
}

.project-entry__description__client {
  font-weight: 500;
  margin-top: 0;
  padding-top: .25em;
  font-weight: 600;
}

.project-entry__description__text {
  p {
    font-size: .9em;
    @media screen and (min-width: 800px) {
      font-size: 1em;
    }
  }
}

.project-entry__description {
  position: absolute;
  bottom: 0;
  background-color: rgba($blue,.95);
  margin-top: 25%;
  color: white;
  padding: 1.25em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s all ease-in-out;
  z-index: 100;
  @media screen and (min-width: 800px) {
    width: 40%;
    bottom: inherit;
    top: 0;
    margin-top: 0;
    height: 100%;
    text-align: left;
    padding: 1em 3em;
  }
  @media screen and (min-width: 1500px) {
    padding: 3em
  }
}

.project-entry__description__award {
  width: 250px;
  margin: 0 auto;
  font-size: .8em;
  text-align: left;
  margin-top: 2em;
  @media screen and (min-width: 800px) {
    margin-left: inherit;
    font-size: .85em;
    width: 200px;
  }
}

.project-entry__description__award img {
  width: 25px;
  float: left;
  margin-right: 1em;
  @media screen and (min-width: 800px) {
    width: 45px;
    margin-top: .2em;
  }
}

// Single Project Pages //

.project-single {
  text-align: left;
}

.project-single__name {
  color: $blue;
  font-size: 1.75em;
  margin-bottom: 1em;
  margin-top: 0;
  @media screen and (min-width:800px) {
    font-size: 2em;
  }
}

.project-single__images {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 4em;
  min-height: 300px;
  @media screen and (min-width: 800px) {
    width: 100%;
  }
}

.project-single__images:after {
  content: 'flickity';
  display: none;
}

.project-single__images__item {
  width: 100%; /* full width */
  height: auto; /* height of gallery */
  img {
    width: 100%;
  }
}

.project-single__images .flickity-prev-next-button {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background: $blue;
}

.project-single__images .flickity-prev-next-button.previous {
  left: -15px;
}

.project-single__images .flickity-prev-next-button.next{
  right: -15px;
}

.project-single__images .flickity-page-dots .dot {
  background: $blue;
}

.project-single__images .flickity-page-dots {
  bottom: -30px;
}

.project-single__team__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 3em;
}

.project-entry__description__award--project-single {
  margin-left: 0;
  margin-bottom: 3em;
  img {
    width: 50px;
    margin-right: 1.5em
  }
  p {
    font-size: 1.25em;
    color: $blue;
    font-weight: 600;
  }
}

.project-single__team__list__item {
  margin-bottom: .5em;
  font-weight: 600;
  a {
    color: $blue;
    text-decoration: none;
  }
}

.project-single__aside {
  @include clearfix;
  margin-bottom: 1em;
}

.project-single__team__title {
  font-size: 1.2em;
}

@media screen and (min-width: 600px) {
  .project-single__team, .project-single__info {
    width: 50%;
    float: left;
  }
}