.people {
	list-style-type: none;
}

.people-individual-list__item {
	list-style-type: none;
}

.people__profile-item {
	width: 100%;
	margin: 0 auto;
	margin-bottom: 1em;
	display: block;
	position: relative;
	transition: .3s all ease-in-out;
	max-width: 250px;
	&:after {
		content: "";
		background-color: rgba($blue,0);
		position: absolute;
		height: 100%;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		z-index: 100;
		transition: .3s all ease-in-out;
	}
	&:hover, &:focus{ 
		&:after {
			background-color: rgba($blue,.3);
			background-blend-mode: multiply;
		}
		.people__profile-item__info {
			background-color: rgba($cyan,.9);
			height: 37%;
			transition: .3s all ease-in-out;
		}
	}
	@media screen and (min-width: 600px) {
		margin-bottom: 3em;
	}
}

@media screen and (min-width: 600px) {
	.people__profile-item {
		width: 45%;
		float: left;
		max-width: inherit;
	}

	.people .people__profile-item:nth-child(odd) {
		margin-right: 2.5%;
		margin-left: 2.5%;
		clear:left;
	}

	.people {
		@include clearfix;
	}
}

@media screen and (min-width: 850px) {
	.people__profile-item {
		width: 30%;
		float: left;
		margin: 0em 1.667% 2em 1.667%;
	}

	.people .people__profile-item:nth-child(odd) {
		margin: 0 1.667%;
		clear: inherit;
	}

	.people .people__profile-item:nth-child(3n+1) {
		clear: left;
	}
}

.people__profile-item__photo {
	width: 100%;
	position: relative;
}

.people__profile-item__info {
	background-color: rgba($blue,.95);
	color: white;
	transition: .3s all ease-in-out;
	width: 100%;
	margin: 0 auto;
	padding: 1.5em 2em;
	position: absolute;
	bottom: 0;
	height: 40%;
	z-index: 1000;
	a {
		color: white;
	}
	@media screen and (min-width: 600px) {
		height: 35%;
	}
}

.people__profile-item__info {
	display: flex;
	align-items: center;
	justify-content: center;
}

.people__profile-item__first-name, .people__profile-item__last-name {
	color: white;
	margin: 0;
	text-transform: uppercase;
	font-family: $mont;
	text-decoration: none;
	text-align: center;
}

.people__profile-item__first-name {
	font-size: 1.5em;
	margin-bottom: 0em;
	letter-spacing: 1px;
	font-weight: 600;
	@media screen and (min-width: 600px) {
		font-size: 1.3em;
	}
	@media screen and (min-width: 700px) {
		font-size: 1.7em;
	}
	@media screen and (min-width: 800px) {
		font-size: 1.5em;
	}
	@media screen and (min-width: 1000px) {
		font-size: 1.8em;
	}
	@media screen and (min-width: 1200px) {
		font-size: 2em;
	}
}

.people__profile-item__last-name {
	margin-bottom: 1em;
	letter-spacing: 4px;
	font-weight: 600;
	font-size: 1em;
	@media screen and (min-width: 600px) {
		margin-bottom: .5em;
	}
	@media screen and (min-width: 900px) {
		font-size: 1.2em;
		margin-bottom: 1.2em;
	}
}

.people__profile-item__title {
	margin: 0;
	font-size: 1em;
	text-decoration: none;
	text-align: center;
	@media screen and (min-width: 600px) {
		font-size: .8em;
	}
	@media screen and (min-width: 1000px) {
		font-size: 1em;
	}
}

.people__profile-item {
	color: white;
	text-decoration: none;
}

// Individual Profile Customization //

.people {
	text-align: center;
}

.people__title {
	color: $blue;
	font-size: 1.7em;
	margin-top: 1em;
	text-align: center;
	&:after {
	  content: "";
	  width: 1.5rem;
	  white-space: pre;
	  height: 3px;
	  margin: 0 auto;
	  margin-top: 1em;
	  background-color: $blue;
	  display: block;
	  @media screen and (min-width: 700px) {
	  	margin: 1em 0 1em 0;
	  }
	}
	@media screen and (min-width: 700px) {
		text-align: left;
		font-size: 2.2em;
		margin-top: 0;
	}
}

.people__image {
	img {
		width: 90%;
		max-width: 200px;
	}
	@media screen and (min-width: 700px) {
		float: left;
		width: 30%;
		text-align: left;
		img {
			max-width: inherit;
		}
	}
}

.people__info {
	@media screen and (min-width: 700px) {
		float: left;
		width: 70%;
		text-align: left;
		padding-left: 2em;
	}
}

.people__text {
	color: $blue;
	margin: 0;
	font-weight: 600;
	font-size: 1em;
	text-align: center;
	@media screen and (min-width: 700px) {
		text-align: left;
	}
}

.people__bio {
	text-align: left;
	width: 90%;
	margin: 0 auto;
	margin-top: 2em;
	margin-bottom: 2em;
	a {
		color: $blue;
		transition: .3s all ease-in-out;
		&:hover, &:focus {
			color: $cyan;
		}
	}
	p {
		font-size: 1em;
	}
	@media screen and (min-width: 700px) {
		width: 100%;
	}
}

.people__email {
	margin-right: .5em;
	font-weight: 600;
	font-size: 1em;
	text-align: center;
	a {
		color: $blue;
		text-decoration: none;
		transition: .3s all ease-in-out;
		&:hover, &:focus {
			color: $cyan;
		}
	}
	&:before {
		content: "E:";
		margin-right: .5em;
	}
	@media screen and (min-width: 700px) {
		text-align: left;
	}
}

.people__phone {
	@extend .people__email;
	&:before {
		content: "P:"
	}
}

.people-projects {
	text-align: center;
	&:before {
	  content: "";
	  width: 1.5em;
	  white-space: pre;
	  height: 3px;
	  margin: 0 auto;
	  margin-top: 2em;
	  margin-bottom: 2em;
	  background-color: $blue;
	  display: block;
	  clear: left;
	}
	@media screen and (min-width: 700px) {
		text-align: left;
		&:before {
			content: none;
			width: inherit;
			margin: 0;
		}
	}
}

.people-posts {
	text-align: center;
	@media screen and (min-width: 700px) {
		text-align: left;
	}
}

@media screen and (min-width: 900px) {
	.people-posts, .people-projects {
		float: left;
		width: 50%;
	}
}

.people-projects__title, .people-posts__title {
	margin-bottom: 1em;
	text-align: center;
	@media screen and (min-width: 700px) {
		font-size: 1.3em;
		text-align: left;
	}
}

.people-projects__list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-bottom: 2em;
	font-size: 1em;
}

.people-projects__list__item, .people-posts__list__item {
	margin-bottom: .5em;
	a {
		color: $darkgray;
	}
}

.people-posts__list {
	@extend .people-projects__list;
}

.people .footer-info__social {
	@media screen and (min-width: 700px) {
		margin: 2em 0 2em -.15em;
	}
}