blockquote {
	font-family: $mont;
	display: block;
	font-size: 1.4em;
	line-height: 1.5;
	margin: 2em 0 1em 0;
	text-transform: uppercase;
	padding: 0 .5em 0 .8em;
	text-align: center;
	&:before, &:after {
		content: open-quote;
		color: $cyan;
		font-size: 4em;
		position: absolute;
		z-index: -10;
		margin-left: -.5em;
		margin-top: -.5em;
	}
	&:after {
		content: close-quote;
		margin-left: .1em;
		margin-top: -.25em;
	}
	@media screen and (min-width: 700px) {
		font-size: 2em;
	}
}

cite {
	display: block;
	margin-top: 1em;
	font-size: 1.2rem;
	font-style: normal;
	text-transform: none;
	margin-bottom: 0em;
	text-align :center;
	&:before {
	  content: "";
	  width: 1.5em;
	  white-space: pre;
	  height: 3px;
	  margin: 0 auto;
	  margin-bottom: 1em;
	  background-color: $cyan;
	  display: block;
	}
	@media screen and (min-width: 700px) {
		font-size: 1.4rem;
	}
}