/* headings */

.section-services {
  text-align: center;
}

.section-services__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  @media screen and (min-width: 600px) {
  	text-align: left;
  	max-width: 700px;
  	margin: 0 auto;
  }
}

.section-services__list__item {
	@include clearfix;
	@media screen and (min-width: 600px) {
		margin-bottom: 1.5em;
	}
}

.section-services__list__item__name {
  margin-bottom: .5em;
	@media screen and (min-width: 600px) {
		margin-top: 1em;
	}
}

.section-services__list__item__icon {
  max-width: 125px;
  @media screen and (min-width: 600px) {
  	float: left;
  	margin-right: 2em;
  	max-width: 155px;
  }
  @media screen and (min-width: 800px) {
  	max-width: 165px;
  }
}

.section-services__list__item__description {
  margin-top: 0;
  margin-bottom: 1.5em;
  @media screen and (min-width: 600px) {
    margin-top: .5em;
  }
}

.section-services__list__item a {
  text-decoration: none;
  color: $darkgray;
}

.service-index {
  padding-top: .5em;
  padding-bottom: 0;
}

.service-index_description {
  text-align: center;
}

.service-index__image__container {
  max-height: 350px;
  overflow: hidden;
  clip-path: polygon(50% 17%, 100% 0, 100% 75%, 50% 100%, 0 75%, 0 0);;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 2em;
  margin-top: 2em;
  background-color: $blue;
  display: block;
  content: "";
}

.service-index__examples {
  columns: 100px 2;
  text-align: center;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  margin-top: 2em;
  width: 80%;
  font-size: 1.3em;
}

.service-index__examples__item {
  color: $blue;
  margin-bottom: .5em;
  display: inline-block;
  width: 100%;
}

.service-index__icons {
  columns: 50px 4;
  margin: 0 auto;
  text-align: center;
  img {
    width: 100px;
    max-width: 100%;
  }
}


