.nav__styleguide {
	@media screen and (min-width: 601px) {
	width: 25%;
	float: left;
	text-align: left;
	margin-left: 1.5em;
	}
	@media screen and (min-width: 900px) {
		margin-top: .5em;
	}
}

.styleguide__pane {
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 2px;
	min-height: 320px; 
	@media screen and (min-width: 600px) {
		height: calc(50vh - 65px); 
	}
	@media screen and (min-width: 800px) {
		height: calc(100vh - 130px); 
	}
}

.styleguide__pane__link {
	background-size: cover;
	background-position: center center;
	display: block;
	text-decoration: none;
	position: relative;
	background-blend-mode: multiply;
	transition: .3s all ease-in-out;
	&:after {
	  position: absolute;
	  height: 100%;
	  width: 100%;
	  top: 0;
	  left: 0;
	  display: block;
	  content: "";
	}
	&:hover {
		background-color: darken(rgba($blue,1),15%)
	}
	@media screen and (min-width: 800px) {
		border: 1px solid white;
		float: left;
		width: 50%;
	}
}

.styleguide__pane__link__visual {
	background-color: rgba($blue,1);
	&:after {
		background-color: rgba($blue,.3);
	}
}

.styleguide__pane__link__content {
	background-color: lighten(rgba($cyan,1), 5%);
	&:after {
		background-color: rgba($cyan,.2);
	}
}

.styleguide__pane__content__link {
	text-transform: uppercase;
	padding-top: 1em;
	display: inline-block;
	font-weight: bold;
	letter-spacing: 1px;
	position: relative;
	padding-right: .5em;
	&:after {
		content: "";
		background-image: url(../Images/global/arrow-right-white.svg);
		background-size: auto;
		background-repeat: no-repeat;
		font-size: .5em;
		height: 10px;
		width: 10px;
		position: absolute;
		margin-left: 1em;
		top: 58%;
	}
}

.styleguide__pane__content {
	text-align: center;
	width: 70%;
	display: block;
	z-index:1000;
	text-shadow: 1px 1px 3px rgba(0,0,0,.5);
	h2 {
		color: white;
		font-size: 1.8em;
		margin-bottom: 1em;
		@media screen and (min-width: 900px) {
			font-size: 2.1em;
		}
	}
}

.main__styleguide {
	h1, h2 {
		text-align: left;
	}
}

.styleguide-title__link {
	text-decoration: none;
	@media screen and (min-width: 600px) {
		width: 50%;
		display: inline-block;
		float: right;
		padding-right: 2em;
	}
}

.panel-button__styleguide {
	@include clearfix;
	clear: left;
}

.styleguide__type {
	margin-bottom: 1em;
	margin-top: .5em;
	padding-right: 2.5em;
	span {
		display: block;
		color: $darkgray;
		margin-top: .5em;
	}
	h4 {
		margin-bottom: .75em;
	}
	@media screen and (min-width: 900px) {
		width: 48%;
		float: left;
	}
}

.styleguide-title {
	margin-top: 0;
	margin-bottom: .75em;
	font-size: 1.9em;
	@media screen and (min-width: 600px) {
		text-align: right;
		margin-top: 1.2em;
		margin-bottom: 1em;
	}
	@media screen and (min-width: 900px) {
		text-align: right;
		font-size: 2em;
		margin-bottom: 0;
		margin-top: 1.3em;
	}
	@media screen and (min-width: 1100px) {
		font-size: 2.5em;
		margin-top: .9em;
	}
}

.main__styleguide {
	padding: 2em;
	width: 100%;
	@media screen and (min-width: 601px) {
	width: 65%;
	float: right;
	padding: 0 1em 3em 1em;
	}
	@media screen and (min-width: 900px) {
		width: 70%;
	}
}

.styleguide__container {
	max-width: 1200px;
	margin: 0 auto;
	display: block;
	@media screen and (min-width: 601px) {
		padding-left: 1em;
		margin-top: 1.5em;
	}
	@media screen and (min-width: 800px) {
		padding-left: 2em;
		margin-top: 1.5em;
	}
}

.styleguide__subtitle {
	margin-top: 0;
	margin-bottom: 0em;
}

.nav__styleguide__list {
	text-align: center;
	margin: 0;
	padding: .5em 0;
	@media screen and (min-width: 601px) {
		background-color: $blue;
		padding: 1.5em;
		padding-bottom: .5em;
		text-align: left;
		max-width:175px;
	}
	@media screen and (min-width: 800px) {
		padding: 2.5em;
		padding-bottom: 1em;
		max-width: 230px;
	}
}

.styleguide__type__sample {
	font-size: 1.1em; 
	display: block;	
	word-break: break-all;
}

.styleguide__type__sample__upper {
	text-transform: uppercase;
}

.styleguide__type__sample__lower {
	padding-bottom: .5em;
}

.swatch {
	width: 70px;
	height: 70px;
	display: inline-block;
	margin: 1em 0;
}

.js .nav__styleguide.nav--show {
	max-height: 40em;
	margin-bottom: 2em;
}

.js .nav--show li.nav__item--back {
	border-top: 1px solid white;
	padding-top: 1.25em;
}

.nav__item--back {
	@media screen and (min-width: 601px) {
	padding-top: 1.25em;
	padding-left: 1.25em;
	position: relative;
	border-top: 1px solid white;
		&:before {
			background-image: url(../Images/global/arrow-right-white.svg);
			transform: scaleX(-1);
			filter: FlipH;
			background-size: auto;
			background-repeat: no-repeat;
			color: white;
			content:"";
			position: absolute;
			left: -3px;
			top: 55%;
			height: 10px;
			width: 10px;
		}
	}
}

.styleguide__section {
	clear: left;
	margin-bottom: 2em;
	padding-bottom: 2em;
	@include clearfix;
	border-bottom: 1px solid $lightgray;
}

.js_fixedcontent {
	@media screen and (max-width: 601px) {
		width:100% !important;
	}
}

.ideabaselogo--styleguide img {
	margin-top: 1em;
	@media screen and (min-width: 601px) {
		float:left;
	}
	@media screen and (min-width: 900px) {
		margin-top: 0;
	}
}

.styleguide__image {
	float: left;
	width: 45%;
	margin-right: 5%;
	margin-bottom: 2em;
	text-align: center;
	img {
		max-height:80px;
		text-align: left;
		margin-bottom: .5em;
		display: block;
		margin: 0 auto;
	}
	span {
		display: block;
		color: $darkgray;
		font-size: .95em;
		margin-top: 1em;
	}
}

.styleguide__image:nth-child(even), .styleguide__type:nth-child(even) {
	clear: left;
}

.panel-primary--styleguide {
	text-align: left;
	padding-top: .5em;
}

.styleguide__image__link {
	font-size: .95em;
	margin: .5em .5em 0 .5em;
	display: inline-block;
	color: $blue;
	h4 {
		color: $blue;
	}
}

.styleguide__color {
	float: left;
	width: 50%;
	margin-bottom: 1.5em;
	h4 {
		margin-bottom: .25em;
		margin-top: 0;
	}
	span {
		display: block;
		color: $darkgray;
		margin-bottom: .25em;
	}
	@media screen and (min-width: 900px) {
		float: left;
		width: 25%;
	}
}

nav.nav__styleguide li {
	font-size: .9em;
	@media screen and (min-width: 601px) {
		display: block;
		margin: 0;
		margin-bottom: 1.5em;
		font-size: .7rem;
	}
	@media screen and (min-width: 800px) {
		font-size: .9rem;
	}
	@media screen and (min-width: 1200px) {
		font-size: 1.1em;
	}
	a {
		color: white;
		&:hover {
			color: lighten($cyan,5%);
		}
	}
}