<style type="text/css">
		.section-header { 
			{% if entry.aboutImage | length %}
			    {% for asset in entry.aboutImage %}
			        background-image: url({{ asset.getUrl('featureImageSmall') }});
			    {% endfor %}
			{% endif %}
		}
		
		@media screen and (min-width: 600px) {
			.section-header{
				{% if entry.aboutImage | length %}
			    {% for asset in entry.aboutImage %}
			        background-image: url({{ asset.getUrl('featureImageMedium') }});
			    {% endfor %}
			{% endif %}
			}
			.video-background {
				background-image: none;
			}
		}
		@media screen and (min-width: 1000px) {
			.section-header {
				{% if entry.aboutImage | length %}
			    {% for asset in entry.aboutImage %}
			        background-image: url({{ asset.getUrl('featureImageLarge') }});
			    {% endfor %}
			{% endif %}
			}
		}
		.blog.section-header { 
			{% if headerImages.blogHeaderImage | length %}
			    {% for asset in headerImages.blogHeaderImage %}
			        background-image: url({{ asset.getUrl('featureImageSmall') }});
			    {% endfor %}
			{% endif %}
		}
		@media screen and (min-width: 600px) {
			.blog.section-header {
				{% if headerImages.blogHeaderImage | length %}
			    {% for asset in headerImages.blogHeaderImage %}
			        background-image: url({{ asset.getUrl('featureImageMedium') }});
			    {% endfor %}
			{% endif %}
			}
		}
		@media screen and (min-width: 1000px) {
			.blog.section-header {
				{% if headerImages.blogHeaderImage | length %}
			    {% for asset in headerImages.blogHeaderImage %}
			        background-image: url({{ asset.getUrl('featureImageLarge') }});
			    {% endfor %}
			{% endif %}
			}
		}
		.panel-background-image { 
			{% if backgroundBrickPatterns.brickBackgroundPattern | length %}
			    {% for asset in backgroundBrickPatterns.brickBackgroundPattern.limit(1).order('RAND()') %}
			        background-image: url({{ asset.getUrl('brickSmall') }});
			    {% endfor %}
			{% endif %}
		}
		@media screen and (min-width: 600px) {
			.panel-background-image {
				{% if backgroundBrickPatterns.brickBackgroundPattern | length %}
			    {% for asset in backgroundBrickPatterns.brickBackgroundPattern.limit(1).order('RAND()') %}
			        background-image: url({{ asset.getUrl('brickMedium') }});
			    {% endfor %}
			{% endif %}
			}
		}
		@media screen and (min-width: 1000px) {
			.panel-background-image {
				{% if backgroundBrickPatterns.brickBackgroundPattern | length %}
			    {% for asset in backgroundBrickPatterns.brickBackgroundPattern.limit(1).order('RAND()') %}
			        background-image: url({{ asset.getUrl('brickLarge') }});
			    {% endfor %}
			{% endif %}
			}
		}
</style>