<style type="text/css">
{% if entry.aboutImage | length %}
	{% for asset in entry.aboutImage %}
		.section-header {
			        background-image: url({{ asset.getUrl('featureImageSmall') }});
		}
		@media screen and (min-width: 600px) {
			.section-header {
			        background-image: url({{ asset.getUrl('featureImageMedium') }});
			}
		}
		@media screen and (min-width: 1000px) {
			.section-header {
			        background-image: url({{ asset.getUrl('featureImageLarge') }});
			}
		}
	{% endfor %}
{% endif %}

{% if headerImages.blogHeaderImage | length %}
	{% for asset in headerImages.blogHeaderImage %}
		.blog.section-header {
			        background-image: url({{ asset.getUrl('featureImageSmall') }});
		}
		@media screen and (min-width: 600px) {
			.blog.section-header {
			        background-image: url({{ asset.getUrl('featureImageMedium') }});
			}
		}
		@media screen and (min-width: 1000px) {
			.blog.section-header {
			        background-image: url({{ asset.getUrl('featureImageLarge') }});
			}
		}
	{% endfor %}
{% endif %}

{% if backgroundBrickPatterns.brickBackgroundPattern | length %}
	{% for asset in backgroundBrickPatterns.brickBackgroundPattern.limit(1).order('RAND()') %}
		.panel-background-image {
			        background-image: url({{ asset.getUrl('brickSmall') }});
		}
		@media screen and (min-width: 600px) {
			.panel-background-image {
			        background-image: url({{ asset.getUrl('brickMedium') }});
			}
		}
		@media screen and (min-width: 1000px) {
			.panel-background-image {
			        background-image: url({{ asset.getUrl('brickLarge') }});
			}
		}
	{% endfor %}
{% endif %}
</style>
