<style type="text/css">
		.blog.section-header {
			{% if headerImages.blogHeaderImage | length %}
			    {% for asset in headerImages.blogHeaderImage %}
			        background-image: url({{ asset.getUrl('featureImageSmall') }});
			    {% endfor %}
			{% endif %}
		}
		@media screen and (min-width: 600px) {
			.blog.section-header {
				{% if headerImages.blogHeaderImage | length %}
			    {% for asset in headerImages.blogHeaderImage %}
			        background-image: url({{ asset.getUrl('featureImageMedium') }});
			    {% endfor %}
			{% endif %}
			}
		}
		@media screen and (min-width: 1000px) {
			.blog.section-header {
				{% if headerImages.blogHeaderImage | length %}
			    {% for asset in headerImages.blogHeaderImage %}
			        background-image: url({{ asset.getUrl('featureImageLarge') }});
			    {% endfor %}
			{% endif %}
			}
		}
		.panel-background-image {
			{% if backgroundBrickPatterns.brickBackgroundPattern | length %}
			    {% for asset in backgroundBrickPatterns.brickBackgroundPattern.limit(1) %}
			        background-image: url({{ asset.getUrl('brickMedium') }});
			    {% endfor %}
			{% endif %}
		}
</style>
