<!-- Metadata -->
	<title>{% if entry.title is defined %}{{ entry.title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
	{% if entry.description is defined and entry.description is not null %}
	    <meta name="description" content="{{ entry.description }}">
	    <meta property="og:description" content="{{ entry.description }}">
	    <meta itemprop="description" content="{{ entry.description }}">
	    <meta name="twitter:card" content="{{ entry.description }}">
	    <meta name="twitter:description" content="{{ entry.description }}">
	{% else %}
		<meta name="description" content="{{ metadata.description }}">
		<meta property="og:description" content="{{ metadata.description }}">
		<meta itemprop="description" content="{{ metadata.description }}">
		<meta name="twitter:card" content="{{ metadata.description }}">
		<meta name="twitter:description" content="{{ metadata.description }}">
	{% endif %}
	<meta itemprop="name" content="entry.title">
	{% if entry.aboutImage is defined and entry.aboutImage is not null %}
	    {% for asset in entry.aboutImage %}
	        <meta itemprop="image" content="{{ asset.getUrl('featureImageSmall') }}">
	        <meta name="twitter:image:src" content="{{ asset.getUrl('featureImageSmall') }}">
	        <meta property="og:image" content="{{ asset.getUrl('featureImageSmall') }}">
	    {% endfor %}
	{% endif %}
	{% if entry.blogFeaturedImage is defined and entry.blogFeaturedImage is not null %}
	    {% for asset in entry.blogFeaturedImage %}
	        <meta itemprop="image" content="{{ asset.getUrl() }}">
	        <meta name="twitter:image:src" content="{{ asset.getUrl() }}">
	        <meta property="og:image" content="{{ asset.getUrl() }}">
	    {% endfor %}
	{% endif %}
	{% if entry.staffHeadshot is defined and entry.staffHeadshot is not null %}
	    {% for asset in entry.staffHeadshot %}
	        <meta itemprop="image" content="{{ asset.getUrl() }}">
	        <meta name="twitter:image:src" content="{{ asset.getUrl() }}">
	        <meta property="og:image" content="{{ asset.getUrl() }}">
	    {% endfor %}
	{% endif %}
	<!-- Twitter -->
	<meta name="twitter:site" content="@ideabasekent">
	{% if entry.title is defined %}
		<meta name="twitter:title" content="{{ entry.title }}">
	{% endif %}
	<meta name="twitter:creator" content="@ideabasekent">
	<!-- Open Graph General (Facebook & Pinterest) -->
	<meta property="fb:admins" content="23300810">
	<meta property="fb:app_id" content="1106586849361257">
	{% if entry.url is defined %}
	<meta property="og:url" content="{{ entry.url }}">
	{% endif %}
	{% if entry.title is defined %}
	<meta property="og:title" content="{{ entry.title }}">
	{% endif %}
	<meta property="og:site_name" content="{{ siteName }}">
	<meta property="og:locale" content="en_US">
<!-- End Metadata -->