{% set BlogAuthorName = entry.blogAuthor %}
<li class="blog-teaser">
  <a href="{{ entry.url }}">
    <h1 class="blog-teaser__title">{{ entry.title }}</h1>

    {% set numberOfAuthors = entry.blogAuthor | length %}

    {% if numberOfAuthors < 2 %}
      {% for entry in entry.blogAuthor.all() %}
        <p class="blog-teaser__author">
          {{ entry.title }}</p>
      {% endfor %}
    {% else %}

      <p class="blog-teaser__author">
        {% for entry in entry.blogAuthor %}
          <span class="blog-multiple__author">{{ entry.title }}</span>
        {% endfor %}
      </p>

    {% endif %}

    <div class="blog-teaser__text">
      {{ entry.blogContent|raw }}
    </div>

    {% if numberOfAuthors < 2 %}
      {% for entry in BlogAuthorName.all() %}
        <p class="blog-teaser__link">Read
          {{ entry.profileFirstName }}'s Post</p>
      {% endfor %}
    {% else %}
      <p class="blog-teaser__link">
        Read the Post</p>
    {% endif %}
  </a>
</li>
