**/cpresources/
httpdocs/Images/*
httpdocs/scss/.sass-cache/
httpdocs/scss/.sass-cache/*
_buttons.scssc
_footer-cta.scssc
_footer-global.scssc
_headings.scssc
_paragraphs.scssc
_reset.scssc
.sass-cache
node_modules
/httpdocs/wiki/LocalSettings.php
db-default.php
/httpdocs/sitemap.xml

/.env
/.idea
/.vscode
**/.DS_Store
