craft/.DS_Store
craft/config/db.php
.DS_Store
httpdocs/Images/*
httpdocs/scss/.sass-cache/
httpdocs/scss/.sass-cache/*
.DS_Store
httpdocs/.DS_Store
_buttons.scssc
_footer-cta.scssc
_footer-global.scssc
_headings.scssc
_paragraphs.scssc
_reset.scssc
craft/config/.DS_Store
craft/plugins/.DS_Store
