_partials_.scssc
_footer.scssc
main.scssc
_header.scssc
craft/.DS_Store
.DS_Store
styles.scssc
_hero.scssc
_clearfix.scssc
_variables.scssc
prod/Images/*
prod/scss/.sass-cache/
prod/scss/.sass-cache/*

.DS_Store

prod/.DS_Store
_buttons.scssc
_footer-cta.scssc
_footer-global.scssc
_headings.scssc
_paragraphs.scssc
_reset.scssc
prod/Images/featured/_featureImageLarge/project-example.jpg
prod/Images/featured/_featureImageLarge/ux.jpg
prod/Images/featured/_featureImageMedium/project-example.jpg
prod/Images/featured/_featureImageMedium/ux.jpg
prod/Images/featured/_featureImageSmall/project-example.jpg
prod/Images/featured/_featureImageSmall/ux.jpg
prod/Images/featured/project-example.jpg
prod/Images/featured/ux.jpg
prod/Images/global/_aboutImageTransform/ideabaselogo.svg
prod/Images/global/_featureImageLarge/practice.jpg
prod/Images/global/_featureImageMedium/practice.jpg
prod/Images/global/_featureImageSmall/practice.jpg
prod/Images/global/ideabaselogo.svg
prod/images/basic
prod/images/blogs/_thumb
prod/images/blogs/design-sample.jpg
prod/images/headshot/_featuredImageTop
prod/images/headshot/profile-sample.jpg
prod/images/headshot/profile-square.jpg
prod/Images/.DS_Store
ideabase-website_160120_185021_v2.5.2759.sql
Jef_Raskin_holding_Canon_Cat_model.png
NaotoFukasawa3.jpg
prod/Images/featured/Rachel.jpg
prod/Images/featured/_featureImageLarge/Rachel.jpg
prod/Images/featured/_featureImageMedium/Rachel.jpg
prod/Images/featured/_featureImageSmall/Rachel.jpg
_featuredImageTop
_projectThumb
_thumb
_profile-listing.scssc
_projects.scssc
Rachel.jpg
candrive.jpg
practice.jpg
craft/config/db.php
Jones_photo.jpg
22209537264_ca11dca8a4_k.jpg
placeholder.jpg
prod/Images/global/_featureImageMedium/mario_image.jpg
prod/Images/headshot/_staffCircle/Hairweaving_image1.jpg
prod/Images/headshot/_staffCircle/MGQM2.jpeg
prod/Images/headshot/Hairweaving_image1.jpg
prod/Images/headshot/MGQM2.jpeg
prod/Images/global/_featureImageLarge/489/Screen-Shot-2016-01-21-at-11.15.02-AM.jpg
prod/Images/global/_featureImageMedium/489/Screen-Shot-2016-01-21-at-11.15.02-AM.jpg
prod/Images/global/_featureImageSmall/489/Screen-Shot-2016-01-21-at-11.15.02-AM.jpg
craft/config/.DS_Store
