body {
	padding: 1.5em;
}

	#header{
	margin-top: 5%;
	font-size: 2em;
	text-align: center;
}

#navigation {
	font-size: 2em;
	padding-left: 2em;
}

.pattern {
	display: block;
	clear: left;
	padding: 1em 0;
	border-bottom: 2px solid black;
}
