{#
 # Awards index template
 #}

{% extends "_layout" %}

{% block content %}

<section class="section-header section-header--interior">
	<div class="section-header__container">
		<h1 class="section-header__title">Awards</h1>
	</div>
</section>


<div class="panel-primary-container">
	<section class="panel-primary awards">
		{% set awardList = craft.entries.section('ideabaseAwards').order("postDate desc").find() %}
		{% set awardListByYear = awardList|group("postDate|date('Y')") %}
		{% for year, entriesInYear in awardListByYear %}
			<article class="award-year__group">
			    <h3 class="award-year">{{ year }}</h3>
				<ul class="award-list">
					{% for entry in entriesInYear %}
						{% set awardCategories = craft.categories.group('awardType').relatedTo(entry) %}
						<li class="award-individual">
							{% for category in awardCategories %}
								<h3 class="award-individual__title">
									<a href="{{ category.awardUrl }}">{{ category.title }}</a>
								</h3>
							{% endfor %}
							<p class="award-individual__text">
								{% set relatedProject = craft.entries.section('ideabaseProjects').relatedTo(entry) %}
								{% for entry in relatedProject %}
									<span class="award-individual__associated-project">
										<a href="{{ entry.url }}">{{ entry.title }}</a>
									</span>
								{% endfor %}
							</p>
						</li>
					{% endfor %}
				</ul>
			</article>
		{% endfor %}
	</section>
</div>

	
{% endblock %}
