{#
 # Project entry template
 # -------------------
 #}

{% extends "_layout" %}

{% block content %}
	<section class="project-entry">
		<h1 class="project-entry__title">{{ entry.title }}</h1>

      <section>
        {% for entry in entry.contributor %}
          {{ entry.title }}
        {% endfor %}
      </section>

		<div class="project-entry__image">
			{% for asset in entry.projectPicture %}
     			<img src="{{ asset.getUrl('featuredImageTop') }}" alt= "{{ asset.title}}">
   			{% endfor %}
   		</div>

   		<div class="project-entry__text">{{ entry.projectDescription }}</div>

   		<div class="project-entry__image">
   			{% for asset in entry.projectPicture2 %}
     			<img src="{{ asset.getUrl('featuredImageTop') }}" alt= "{{ asset.title}}">
   			{% endfor %} 
   		</div>

      <div>{{ entry.projectUrl }}</div>

        <!-- Display 3 related projects -->
        {% for relatedEntry in craft.entries({
            section: 'ideabaseProjects',
            relatedTo: entry.projectCategory,
            limit: 3
        }) %}
            <a href="{{ relatedEntry.url }}">{{ relatedEntry.title }}</a>
        {% endfor %}


   	</section>
{% endblock %}
