{##}
{% extends  "_layout" %}
{% block content %}
{% include '_includes/_background-images.html' %}
<section class="section-header section-header--interior">
	<div class="section-header__container">
		<h1 class="section-header__title">Projects: {{ category.title }}</h1>
	</div>
</section>	
{% set projectCategory = craft.categories.group('projectType') %}
{% set Project = craft.entries.section('ideabaseProjects').order('title').limit(null) %}

<div class="panel-primary-container">
	<div class="project-category">
		<a class="nav__trigger__link" id="categorytrigger">Browse by Category</a>
		<ul class="project-category__list" id="categorytriggerlist">
			<li class="project-category__list__item">
				<a href="{{ siteUrl }}/work/all">All</a>
			</li>
			{%  for category in projectCategory %}
				<li class="project-category__list__item">
					<a href="{{ category.url }}">{{category.title}}</a>
				</li>
			{% endfor %}	
		</ul>	
	</div>
	<section class="section-projects-all panel-primary-wide">
		<ul class="project-list">
			

{% for entry in craft.entries.section('ideabaseProjects').relatedTo(category) %}
    		<li class="project-list__item">
					<a href="{{ entry.url }}">
						{% set asset = entry.projectPicture %}
						{% if asset|length %}
							{% for asset in entry.projectPicture.limit(1) %}
				     			<div class="project-list__item__image"><img class="" src="{{ asset.getUrl('thumbnailLandscape') }}" alt= "{{ asset.title}}"></div>
				     		{% endfor %}
				     		{% else %}
				     		<div class="project-list__item__image">
				     		     {% for asset in imagePlaceholder.aboutImage.limit(1) %}
				     		     	<img src="{{ asset.getURL('thumbnailLandscape') }}" alt= "No Image Found">
				     		     {% endfor %}
				     	{% endif %}
			     		<h2 class="project-list__item__name">{{ entry.title }}</h2>

						{% for entry in entry.forWhichClient %}
        					<h3 class="project-list__item__client">{{ entry.title }}</h3>
        				{% endfor %}	
					</a>	
			</li>
   		
{% endfor %}
</ul>
	</section>
</div>
{% endblock %}
