
			
{% for entry in craft.entries.section('ideabaseProjects').archivedProject(' not 1 ').relatedTo(category) %}
	<li class="project-list__item">
		<a href="{{ entry.url }}">
			{% set asset = entry.projectPicture %}
			{% if asset|length %}
				{% for asset in entry.projectPicture.limit(1) %}
	     			<div class="project-list__item__image">
	     				{% set relatedAward = craft.entries.section('ideabaseAwards').relatedTo(entry) %}
						{% if relatedAward | length %}
							{% for asset in awardIcons.trophyBadgeIcon %}
								<img class="trophy-icon" src="{{ asset.getUrl('featuredImageTop') }}" alt= "{{ asset.title}}">
				            {% endfor %}
			            {% endif %}
	     				<img class="" src="{{ asset.getUrl('thumbnailLandscape') }}" alt= "{{ asset.title}}">
	     			</div>
	     		{% endfor %}
	     		{% else %}
	     		<div class="project-list__item__image">
	     		     {% for asset in imagePlaceholder.aboutImage.limit(1) %}
	     		     	<img src="{{ asset.getURL('thumbnailLandscape') }}" alt= "No Image Found">
	     		     {% endfor %}
	     	{% endif %}
     		<h2 class="project-list__item__name">{{ entry.title }}</h2>

			{% for entry in entry.forWhichClient %}
				<h3 class="project-list__item__client">{{ entry.title }}</h3>
			{% endfor %}	
		</a>	
	</li>
{% endfor %}
