{#
 #}

{% extends "_layout" %}


{% block content %}
<section class="section-header section-header__interior">
	<div class="section-header__container">
		<h1 class="section-header__title">{{ entry.projectHeadline }}</h1>
	</div>
</section>

<div class="panel-primary-container">
<section class="section-introduction panel-primary">
		<p class="introduction">{{ entry.projectsSubDescription }}</p>
</section>
</div>
<div class="panel-primary-container">
			{% for entry in craft.entries.section('ideabaseProjects')|slice(0,3) %}
			<section class="section-services panel-primary">
					<a href="{{ entry.url }}">
						<h1 class="project-entry__title">{{ entry.title }}</h1>

							<div class="project-entry__image">
								{% for asset in entry.projectPicture %}
			     					<img src="{{ asset.getUrl('') }}" alt= "{{ asset.title}}">
			     				{% endfor %}	
	   						</div>
						<div class="project-entry__text">{{entry.projectDescription }}</div>

						{% set relatedAward = craft.entries.section('ideabaseAwards').relatedTo(entry) %}
   							{% for entry in relatedAward %}
								{{ entry.title }}
							{% endfor %}

						{% set relatedTestimonial = craft.entries.section('testimonials').relatedTo(entry) %}
   							{% for entry in relatedTestimonial %}
								{{ entry.title }}
							{% endfor %}	

   					</a>

   			</section>		
			{% endfor %}
</div>			
	

	<!-- Case Study List -->
	<section class="case-study">
		<h1 class="case-study__headline">{{ entry.caseStudyHeadline }}</h2>
		<p class="case-study__text">{{ entry.caseStudySubDescription }}</p>
		<article class="case-study__entry">
			<ul class="case-study__list">
				{% for entry in craft.entries.section('caseStudy').limit(3).order('postDate') %} 
	    				<li class="case-study__list__item">
	        				<h3 class="case-study__list__title"><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
	        				<a href="{{ entry.url }}">Continue reading</a>
	    				</li>	
				{% endfor %}
			</ul>	

		</article>
		<h1 class="case-study__headline">{{ entry.classroomExperienceHeadline }}</h1>
		<p class="case-study__text">{{ entry.classroomExperienceDescription }}</p>
	<!-- End Case Study List -->
{% endblock %}
