{#
 #}

{% extends "_layout" %}

{% block content %}
{% include '_includes/_background-images.html' %}
<section class="section-header section-header--interior">
	<div class="section-header__container">
		<h1 class="section-header__title">{{ entry.projectHeadline }}</h1>
	</div>
</section>

<div class="panel-primary-container">
<section class="section-introduction panel-primary">
		<div class="introduction">{{ entry.projectsSubDescription }}</div>
</section>
</div>

<div class="panel-primary-container">
<section class="section-title panel-primary">
	<h2>Featured Projects</h2>
</section>
</div>

<div class="panel-primary-container panel-secondary-container section-projects-featured panel-background-image">
	<section class="section-projects-all panel-secondary panel-primary-wide">
		<ul class="project-list">
			{% for entry in craft.entries.section('ideabaseProjects')|slice(0,3) %}
			<li class="project-list__item project-list__item--featured">	
			<a href="{{ entry.url }}">
					{% if asset in entry.projectPicture|length %}
						{% for asset in entry.projectPicture %}
						<div class="project-list__item__image">
				     		<img src="{{ asset.getUrl('thumbnailLandscape') }}" alt= "{{ asset.title}}">
				     	</div>
				     	{% endfor %}
				     	{% else %}
				     	<div class="project-list__item__image">
				     	     {% for asset in imagePlaceholder.aboutImage %}
				     	     	<img src="{{ asset.getURL('thumbnailLandscape') }}" alt= "No Image Found">
				     	     {% endfor %}
				     	</div>
			     	{% endif %}
			     	
			     	<h2 class="project-list__item__name">{{ entry.title }}
			     	</h2>
			     	<h3 class="project-list__item__client">
			     			{% for entry in entry.forWhichClient %}
							{{ entry.title }}
			     		    {% endfor %}
			     	</h3>
					<p class="project-list__item__description"{{ entry.projectDescription }}</p>
			</a>
			</li>	
			{% endfor %}
			</ul>
			<a class="button button-primary" href="{{siteUrl}}/work/all">{{ entry.moreProjectsButton }}</a>
	</section>			
</div>			
	

	<!-- Case Study List -->
<div class="panel-primary-container">
	<section class="section-introduction panel-primary">
		<h2>{{ entry.caseStudyHeadline }}</h2>
		<p>{{ entry.caseStudySubDescription }}</p>

		<section class="section-blog-teaser">
			<ul class="blog-teaser-list">
			{% for entry in craft.entries.section('caseStudy').limit(2) %} 
	    			<li class="blog-teaser">
	    				<a href="{{ entry.url }}">
	        				<h1 class="blog-teaser__title">{{ entry.title }}</h1>
	        				{% for entry in entry.blogAuthor %}
	        					<p class="blog-teaser__author">
	        					{{ entry.title }}
	        					</p>
	        				{% endfor %}
	        				{% set caseStudyParagraphs = entry.blogContent|split('.') %}
							{% set firstCaseStudyParagraph = caseStudyParagraphs|first ~ '.' %}
								<div class="blog-teaser__text">
    							{{ firstCaseStudyParagraph|raw }}
    							</div>
	        				<p class="blog-teaser__link">Read NAME's Post</p>
	        			</a>
	    			</li>
			{% endfor %}
			</ul>
		</section>
	</section>
</div>
	<div class="panel-secondary-container panel-background-image">

	<section class="section-price panel-secondary">
		<h2>{{ entry.classroomExperienceHeadline }}</h2>
		<p>{{ entry.classroomExperienceDescription }}</p>
		<a class="button button-primary" href="#">{{ entry.classroomButton }}</a>
	</section>
	</div>	
	<!-- End Case Study List -->
{% endblock %}
