{#
 # Style Guide template
 # -------------------
 #}

{% extends "_style-layout" %}
	{% block content %}

	{% set currentSection = entry.styleGuideSection %}

	{% set styleSection = craft.entries.section(currentSection).level(1) %}
	<div class="styleguide__container">
	<nav class="nav__styleguide">
	    <ul class="nav__styleguide__list">
	        {% for sectionName in styleSection %}
	            <li class="nav__item"><a href="#{{sectionName.title}}">{{ sectionName.title }}</a></li>
	        {% endfor %}
	    </ul>
	</nav>

	<main class="main__styleguide">

	<h1>{{ entry.title }}</h1> 

	{% for item in styleSection %}

		<h2 id="{{item.title}}">{{ item.title }}</h2>
		{% if currentSection == 'visualStyleGuide' %}
			{% for block in item.visualPattern %}
					{% if block.type == "color" %}

						<h3>{{ block.colorName }}</h3>
						<p>{{ block.colorHexCode }}</p>
						<p>{{ block.colorRgb }}</p>
						<p>{{ block.colorPantone }}</p>

					{% elseif block.type == "typography" %}

						<h3>{{ block.typefaceName }}</h3>
						<p>{{ block.typefaceCssValue}}</p>
						<p>{{ block.typefaceWeight }}</p>

					{% elseif block.type == "imageLogo" %}

						<h3>{{ block.imageName }}</h3>
							{% for asset in block.imageLogoFile %}
						     		<img src="{{ asset.getUrl() }}" alt= "{{ asset.title}}">
						   	{% endfor %}
						<p>{{ block.imageLogoUsageGuidelines }}</p>

					{% elseif block.type == "visualStyleSample" %}

						<div>{{ block.visualStyleCode|raw }}</div>

					{% endif %}
			{% endfor %}
		{% elseif currentSection == 'contentStyleGuide' %}
			{{ item.contentPatternBody }}
		{% endif %}
	{% endfor %}

	<a class="button button-primary button-primary--reverse" href="{{ siteUrl }}/style">Back to Style Guide</a>

	</main>
	</div>
	{% endblock %}