{#
 # Awards index template
 #}

{% extends "_layout" %}

{% block content %}
<style type="text/css">
		.awards.section-header {
			{% if headerImages.awardHeaderImage | length %}
			    {% for asset in headerImages.awardHeaderImage.all() %}
			        background-image: url({{ asset.url('featureImageSmall') }});
			    {% endfor %}
			{% endif %}
		}
		@media screen and (min-width: 600px) {
			.awards.section-header  {
				{% if headerImages.awardHeaderImage | length %}
			    {% for asset in headerImages.awardHeaderImage.all() %}
			        background-image: url({{ asset.url('featureImageMedium') }});
			    {% endfor %}
			{% endif %}
			}
		}
		@media screen and (min-width: 1000px) {
			.awards.section-header  {
				{% if headerImages.awardHeaderImage | length %}
			    {% for asset in headerImages.awardHeaderImage.all() %}
			        background-image: url({{ asset.url('featureImageLarge') }});
			    {% endfor %}
			{% endif %}
			}
		}
</style>

<section class="awards section-header section-header--interior">
	<div class="section-header__container">
		<h1 class="section-header__title">Awards</h1>
	</div>
</section>


<div class="panel-primary-container">
	<section class="panel-primary awards">
		{% set awardList = craft.entries.section('ideabaseAwards').orderBy("postDate desc").all() %}
		{% set awardListByYear = awardList|group("postDate|date('Y')") %}
		{% for year, entriesInYear in awardListByYear %}
			<article class="award-year__group">
			    <h3 class="award-year">{{ year }}</h3>
				<ul class="award-list">
					{% for entry in entriesInYear %}
						{% set awardCategories = craft.categories.group('awardType').relatedTo(entry) %}
						<li class="award-individual">
							{% for category in awardCategories.all() %}
								<h3 class="award-individual__title">{{ category.title }}</h3>
							{% endfor %}
							<p class="award-individual__text">
								{% set relatedProject = craft.entries.section('ideabaseProjects').relatedTo(entry) %}
								{% for entry in relatedProject.all() %}
									<span class="award-individual__associated-project">
									{% if entry.archivedProject %}
										{{ entry.title }}
									{% else %}
										<a href="{{ entry.url }}">{{ entry.title }}</a>
									{% endif %}
									</span>
								{% endfor %}
							</p>
						</li>
					{% endfor %}
				</ul>
			</article>
		{% endfor %}
	</section>
</div>


{% endblock %}
