<section class="section-basic-page panel-primary">

<h2>Delivering Meaningful Design Solutions</h2>
<p>At IdeaBase, we bridge the gap between classroom and career by bringing together top-performing Kent State students to tackle real-world client problems. Our team represents a variety of backgrounds, including Visual Communication Design, Public Relations, Advertising, Computer Information Systems, Digital Sciences, Marketing and Communication Studies students. </p>
<p>Thanks to the diverse talent of our student employees, we offer a comprehensive service offering that includes advertising, branding, copywriting, identity design, marketing research, web design, usability studies, environmental design services and much more. As part of a thriving university community, we also have access to additional resources to enhance our suite of services.</p>
</section>