<section class="section-basic-page panel-primary">

<h2>IN THE HEART OF DOWNTOWN KENT</h2>
<p>Our office space—conveniently located in Downtown Kent—features an open layout with a conference room, creative workspace, educational area and UX Testing Lab; it’s a great space for collaboration for students and clients alike!</p>
</section>
<section class="section-body-button panel-primary">
	<a class="button button-primary" href="process.php">Visit Us Today</a>
</section>
<section class="section-basic-page panel-primary">
<h2>A Legacy of Design Training</h2>
<p>Formerly the Tannery, IdeaBase opened in 2009 as the brainchild of Jim Gaudino, the founding dean of the College of Communication and Information (CCI). Gaudino worked with the directors from each of the CCI schools to develop a vision for a student-staffed organization where students could receive hands-on experience.</p>
<p>In 2014 the Tannery became IdeaBase to better reflect its core mission to provide great solutions and design opportunities to clients and students.  Glyphix, a classroom studio experience from the School of Visual Communication Design, also joined IdeaBase in 2014, further expanding the portfolio of IdeaBase service offerings.  IdeaBase continues to operate as part of the College of Communication and Information, always evolving to bring new services and experiences to the university community and beyond.</p>

</section>