<section class="section-basic-page panel-primary">
    <p class="introduction">We proudly manage our own in-house User Experience Testing Lab. This on-site lab complements our design services by offering clients the ability to test their products using our advanced research equipment. Through this testing process, we can take the next steps in improving new or existing designs.</p>

    <p>The lab is operated by an experienced User Experience Designer and a team of graduate students from Kent State’s renowned User Experience Design master’s program. </p> 

    <p>Just a few of our services include:</p>

    <h2>Eye Tracking Usability</h2>
    <p>We offer both traditional desktop eye tracking as well as wearable eyetracking technologies from Tobii. Eye tracking allows our user experience designers to closely study your product to see exactly where users are (and aren’t) looking. Using this measurable data, we’re able to suggest user experience improvements that help your users complete their goals faster and easier.</p> 

    <p>Our eye tracking software can produce stunning visualizations, including heat maps and gaze plots, to help you communicate your findings to your stakeholders. It’s also a great tool for academic research. In fact, IdeaBase was featured in a national study on multimedia journalism by the Reynolds Journalism Institute.</p>
</section>