<article class="blog__entry">
			<h1 class="blog__entry__title">Being a Creative: Rachel Kozy</h1>
			<span class="blog__entry__author">Written by Rachel Kozy</span>
			<span class="blog__entry__date">Feb. 2, 2016</span>
			<div class="blog__entry__text">
				<p>My name is Martha Arbogast, and I’m a Senior Visual Communication Design graduating in May. My position at IdeaBase is a designer. I heard about IdeaBase from the Creative Director, Quintin Steele, who was in one of my design classes with me during the spring semester. He talked to me about interning at IdeaBase and encouraged me to apply, so I did!</p>

				<p>Before working for IdeaBase, I interned at the Smithsonian National Air and Space Museum this past summer in Washington, D.C. My position involved participating in the intern experiences with all of the other interns working there over the summer, meeting with the in-house clients from different departments, and designing different types of materials. I worked on a multitude of projects, from event branding to signage, during the ten weeks that I was interning. A lot of the projects had a waiting period where I’d have to see what the client, or his or her superior, thought of my work before I could continue so I’d just continue to ask for more to work on. All of the projects were for the museum and I worked with different departments in the museum from visitor services to education. I learned the importance of working in a positive work environment.</p>

				<p>As an intern, I was encouraged to seek out any opportunity where I could to learn more. I attended an eye-opening workshop about interaction design, which I was able to apply to my studies this semester, I watched the IMAX films that museum was featuring, and I would venture downstairs to view the exhibits before the museum opened to the public. The people I worked with were collaborative and kind. I received helpful, direct critiques from my superior Jennifer Carlton, and she always was encouraging.</p>

				<p>IdeaBase has the same positive work environment that the National Air and Space Museum had. Every one of the staff members at IdeaBase is supportive and helpful. They encourage us to utilize resources that are available to us. We all work in a single space clustered around computers and tables, so it just feeds into the idea of collaboration.</p>

				<p>I also had a similar experience at The National Air and Space Museum. The other interns in the department, about 7 of us, all worked in one room surrounded by the offices of our superiors. We called it the fishbowl. IdeaBase is, of course, different in the structure since it’s a business, while the museum environment is not.</p>

				<p>My goal is to one day work at a design firm. I’d love to work at a place where I’d have the opportunity to work with different clients and be inspired by working with other design professionals.</p>

				<p>Something I’m really passionate about besides design is my dog. I have a six year old German Shepherd named Ursa. I grew up around dogs and horses living out in the country in central Ohio, so being around animals is something that always stuck with me. My mom is a dog trainer and breeder. I got Ursa when I was in high school and trained her in obedience work, along with becoming a certified therapy dog. My mom and I would visit nursing homes and take Ursa and Ursa’s dad Bosko with us. It’s the best to have a dog because she encourages me to go on walks outside even after a long day of classes. My other favorite activity is hiking in the Cuyahoga Valley National Park. My fiancé and I go there regularly during each season. It just really helps to unwind from all the chaos of school and work.</p>

				<p>After graduation, I’m getting married at the end of September. So currently I’m planning to stay around Cleveland once I graduate in May and work at a design firm.</p>
			</div>
			<ul class="blog__entry__tags">
				<li><a href="#" class="blog__entry__tags__item">Design
				</a></li>
				<li><a href="#" class="blog__entry__tags__item">Internship
				</a></li>
			</ul>
</article>

<aside class="blog__entry__sidebar">
	<div class="blog__entry__author__image">
	    <img src="../../assets/img/profile-square.jpg" alt= "">
	</div>
	<span class="blog__entry__author__name">Rachel Kozy</span>
	<span class="blog__entry__author__info">Senior, VCD Major</span>
	<p class="blog__entry__author__description">Martha Arbogast is a senior VCD major. She will be graduating this May. After graduation, Martha is getting married and hopes to work at design firm around Cleveland. Beyond design, Martha loves her dog Ursa and hiking.
	</p>
	<a href="people-single.php" class="blog-teaser__link blog-teaser__link--blog">Read More About Rachel</a>
	<section class="people-posts people-posts--blog">
		<h2 class="people-posts__title">Related Posts</h2>	
		<ul class="people-posts__list">
			<li class="people-posts__list__item">
				<a href="#">The Atmosphere of IdeaBase by Sarah Holzer</a>
			</li>
			<li class="people-posts__list__item">
				<a href="#">Building a Responsive Library Website by Sarah Holzer</a>
			</li>
			<li class="people-posts__list__item">
				<a href="#">The Atmosphere of IdeaBase by Sarah Holzer</a>
			</li>
		</ul>
	</section>
	<a class="button button-primary button--reverse" href="people.php">Back to Blogs</a>	
</aside>