<li class="blog-list__item">
	<a href="blog-entry.php">
		<h1 class="blog-list__title">Meet Our First High School Intern</h1>
		<span class="blog-list__author">by Trista Finch</span>
		<span class="blog-list__date">Jan 25, 2016</span>
		<p class="blog-list__text">Hello! My name is Trista Finch and I’m currently a senior at Bio-Med Science Academy, the high school that’s in Northeast Ohio Medical University.</p>
		<a href="blog-entry.php" class="blog-teaser__link">Read Trista's Post</a>
	</a>
</li>
