        <div class="panel-primary-container">
        <section class="section-introduction panel-primary">  
        <h2>How We're Making a Difference</h2>
        	<p>We make a positive impact on your design and our student designers by taking the time to build right. Read case studies from our past projects to see for yourself.</p>        
          <section class="section-blog-teaser">
          	<ul class="blog-teaser-list">
          		<li class="blog-teaser">
		          <a href="#">
		          		<h1 class="blog-teaser__title">Building a Responsive Library Website</h1>
		          		<p class="blog-teaser__author">by Chris Hallahan</p>
		          		<p class="blog-teaser__text">We learned a lot while building the State Library of Ohio website.</p>
		          		<p class="blog-teaser__link">Read Chris' Post</p>
		          </a>
		         </li>
		      <li class="blog-teaser">
		          <a href="#">
		          		<h1 class="blog-teaser__title">Designing for the Environment</h1>
		          		<p class="blog-teaser__author">by Larrie King</p>
		          		<p class="blog-teaser__text">A retrospective on our work with Schneller to redesign their physical office spaces.</p>
		          		<p class="blog-teaser__link">Read Larrie's Post</p>
	          </a>
	          </li>
	         </ul>
          </section>
        </section>
        </div>