<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>IdeaBase: Home Page Template</title>
   </head>
  <body>
    <header role="banner">
    <a href="home.php"><img class="ideabaselogo" src="../../assets/img/ideabaselogo.svg" alt="IdeaBase"/></a>
    <span class="nav__trigger">
    	<a href="#" class="nav__trigger__link" id="navshow">Menu</a>
	</span>
  <nav role="navigation">
    <ul>
      <li><a href="process.php">Process</a></li>
      <li><a href="projects.php">Projects</a></li>
      <li><a href="people.php">People</a></li>
      <li class="nav__contact"><a href="#footer-form" id="contact-toggle"><span>Contact Us</span></a></li>
    </ul>
  </nav>
</header>
<main>
