<section class="section-about" style="background-image: url(../../assets/img/practice.jpg)">
	<div class="section-about__container">
	 	<h1 class="section-about__title">Research-Based, Student-Powered Design Solutions.
	 	</h1>
	 	<p class="section-about__text">We’re a Kent State student-powered design agency located in downtown Kent, Ohio. Our team represents a variety of backgrounds and disciplines, united in our passion for creating meaningful solutions to support our clients’ design initiatives. 
	 	</p>
	</div>
</section>