<div class="panel-primary-container">
<section class="section-introduction panel-primary">
	<php $url = 'http://' . $_SERVER['SERVER_NAME'] . $_SERVER['REQUEST_URI'];

	if (strpos($url,'process') !== false) {
	    echo 'This is a process page.';
	} else {
	    echo 'This is not a process page.';
	} ?>
	<p class="introduction">Our process delivers awarding-winning, quality design solutions that transform our clients’ products.  In turn, our talented students get the chance to work directly with clients, developing proposals, managing projects and handling all stages of design production.</p>
</section>
</div>