<div class="panel-primary-container">
<section class="section-introduction panel-primary">
	<p class="introduction">Our comprehensive service offering supports our clients’ design initiatives from the early discovery phase through implementation and on-going improvements. Whether you’re laying the foundation for your product’s success, or building out and refining that product, we’re here to help.  Did we mention we do all of this right here locally in Kent, OH? That’s right, we’re minutes away from Kent State University.</p>
</section>
</div>