<div class="panel-primary-container">
<section class="section-people-home panel-primary">
	<h2>Real Clients. Real Experience.</h2>
	<p>We hire only the best students and staff members to work with nationally-known client partners on real-world, award-winning projects.  Here are just a few of them.</p>
	<ul class="section-people__logos">
		<li class="section-people__logos__item"><img src="../../assets/img/logos/ametek.svg" alt="Kent State University" /></li>
		<li class="section-people__logos__item"><img src="../../assets/img/logos/athletics.svg" alt="Kent State University" /></li>
		<li class="section-people__logos__item"><img src="../../assets/img/logos/neomed.svg" alt="Kent State University" /></li>
		<li class="section-people__logos__item"><img src="../../assets/img/logos/summa.svg" alt="Kent State University" /></li>
		<li class="section-people__logos__item"><img src="../../assets/img/logos/schneller.svg" alt="Kent State University" /></li>
		<li class="section-people__logos__item"><img src="../../assets/img/logos/sherwin.svg" alt="Kent State University" /></li>
		<li class="section-people__logos__item"><img src="../../assets/img/logos/smithers.svg" alt="Kent State University" /></li>
		<li class="section-people__logos__item"><img src="../../assets/img/logos/statelibrary.svg" alt="Kent State University" /></li>
	</ul>
	<a class="button button-primary" href="process.php">Meet the IdeaBase Team</a>
</section>
</div>
	<!-- End Services List -->