<div class="panel-secondary-container panel-background-image">
<section class="section-price panel-secondary">
	<h2>Sounds great, how much does it cost?</h2>
	<img class="panel-secondary__thumbnail" src="../../assets/img/design-sample.jpg" alt ="Trophies" />
	<div class="panel-secondary--left">
	<p>While our unique business model allows us to deliver high-quality products at an affordable cost, there’s no “one size fits all” when it comes to individual client needs. We work with our clients upfront to define goals and timelines to ensure that we deliver a great end-product within the project’s constraints. Together, we’ll plan and build something great, and it won’t break the bank.</p>
	</div>
</section>
</div>