
	<section class="project-entry">
		<h1 class="project-entry__title">
			{{ entry.title }}
		</h1>

		<div class="project-entry__image">
			{% for asset in entry.projectPicture %}
     			<img src="{{ asset.getUrl('featuredImageTop') }}" alt= "{{ asset.title}}">
   			{% endfor %}
   		</div>

   		<div class="project-entry__text">
   			{{ entry.projectDescription }}
   		</div>

   		<div class="project-entry__image">
   			{% for asset in entry.projectPicture2 %}
     			<img src="{{ asset.getUrl('featuredImageTop') }}" alt= "{{ asset.title}}">
   			{% endfor %}
   		</div>
   	</section>