<div class="panel-secondary-container panel-projects">
<section class="section-projects panel-secondary">
	<h2 class="section-projects__name">Tried and True.</h2>
  <p class="section-projects__description">Our process delivers results.  No matter the industry or design challenge, our past work speaks for itself. </p>
    <ul class="section-projects__list">
    	<li class="section-projects__list__item">
        	<a href="#">
            <img class="section-projects__list__item__thumb" src="../../assets/img/project-sample.png" alt="Discover Icon" />
            <h3 class="section-projects__list__item__name">Project Name</h3>
          </a>
   		</li>
   		   <li class="section-projects__list__item">
            <a href="#">
              <img class="section-projects__list__item__thumb" src="../../assets/img/project-sample.png" alt="Discover Icon" />
              <h3 class="section-projects__list__item__name">Project Name</h3>
            </a>
          </li>
		   <li class="section-projects__list__item">
          <a href="#">
            <img class="section-projects__list__item__thumb" src="../../assets/img/project-sample.png" alt="Discover Icon" />
            <h3 class="section-projects__list__item__name">Project Name</h3>
          </a>
      </li>
    </ul>
	<a class="button button-primary" href="process/">More Project Examples</a>
</section>
</div>
	<!-- End Services List -->