<section class="project-single panel-primary">
    <article>
    <h1 class="project-single__name">IdeaBase and Glyphix Printed Brochure</h1>
    <!-- If Only One Image
    <ul class="project-single__image">
        <li class="project-single__images__item">
            <img src="../../assets/img/project/IMG_7279_web-710x450.jpg" />
        </li>
    </ul>
    -->
    <ul class="project-single__images">
    	<li class="project-single__images__item">
    		<img src="../../assets/img/project/IMG_7279_web-710x450.jpg" />
    	</li>
    	<li class="project-single__images__item">
    		<img src="../../assets/img/project/IMG_7315_web-710x450.jpg" />
    	</li>
    	<li class="project-single__images__item">
    		<img src="../../assets/img/project/IMG_7318_web-710x450.jpg" />
    	</li>
    </ul>
    <h3 class="project-single__client">IdeaBase Internal</h3>
    <div class="project-single__description">
    	<p>Designed and photographed entirely by IdeaBase and Glyphix students, this printed brochure is given to prospective clients as an introduction to the agency's services and student staff members.</p>
    </div>
    <a href="#" class="blog-teaser__link blog-teaser__link--blog">View the Project</a>
    </article>
    <aside class="project-single__aside">
    <div class="project-single__team">
        <h4 class="project-single__team__title">Team</h4>
        <ul class="project-single__team__list">
        	<li class="project-single__team__list__item"><a href="#">Rachel Kozy - Designer</a></li>
        	<li class="project-single__team__list__item"><a href="#">Rachel Kozy - Designer</a></li>
        	<li class="project-single__team__list__item"><a href="#">Rachel Kozy - Designer</a></li>
        	<li class="project-single__team__list__item"><a href="#">Rachel Kozy - Designer</a></li>
        </ul>
    </div>
    <div class="project-single__info">
        <div class="project-entry__description__award project-entry__description__award--project-single">
          <img src="../../assets/img/trophy-blue.svg" alt="Trophy" />
          <p>2015 Addy Award Award Winner</p>
        </div>
    </div>
    </aside>
    <section class="testimonial-entry--project">
            <blockquote class="testimonial-entry__text">IdeaBase was inexpensive and helped increase visitors to our business.  That's a win-win if you ask me!
            </blockquote>   
            <cite class="testimonial-entry__author">Chris Hallahan, IdeaBase</cite>    
    </section>
    <ul class="blog__entry__tags">
      <li><a href="#" class="blog__entry__tags__item">Design
      </a></li>
      <li><a href="#" class="blog__entry__tags__item">Internship
      </a></li>
    </ul>
<a class="button button-primary button--reverse" href="projects.php">Back to Projects</a>
</section>