<a href="project-page.php" class="project-entry">
    <img class="project-entry__image" src="../../assets/img/project2.jpg" />
    <div class="project-entry__description">
      <div class="project-entry__description__container">
    		<h1 class="project-entry__description__title">
    		 IdeaBase Brochure
    		</h1>
        <p class="project-entry__description__client">
         IdeaBase Internal Project
        </p>
       	<div class="project-entry__description__text">
       			<p>Designed and photographed entirely by IdeaBase and Glyphix students, this printed brochure is given to prospective clients as an introduction to the agency's services and student staff members.</p>
       	</div>
        <div class="project-entry__description__award">
        <img src="../../assets/img/trophy-white.svg" alt="Trophy" />
          <p>2015 Addy Award Award Winner</p>
        </div>
      </div>
    </div>
</a>