<div class="panel-secondary-container">
<section class="section-projects panel-secondary">
	<h2>Tried and True</h2>

    <ul>
    	<li>
        	<h3><a href="#">Servcie Name</a></h3>
        		<p>Service Description</p>
   		</li>
   		<li>
   		     	<h3><a href="#">Servcie Name</a></h3>
   		     		<p>Service Description</p>
   				</li>
   		<li>
   		     	<h3><a href="#">Servcie Name</a></h3>
   		     		<p>Service Description</p>
   		</li>
    </ul>
	<a class="button button-primary" href="process/">More Project Examples</a>
</section>
</div>
	<!-- End Services List -->