<div class="panel-primary-container">
<section class="section-people panel-primary">
	<h2>Our Design Process is Tailored To You.</h2>
    <ul class="section-services__list">
    	<li class="section-services__list__item">
            <img class="section-services__list__item__icon" src="../../assets/img/icons/discover.svg" alt="Discover Icon" />
        	  <h3 class="section-services__list__item__name">Discover</h3>
        		<p class="section-services__list__item__description">Our targeted user research methods empower you to more effectively address your user's needs.</p>
   		</li>
   		   <li class="section-services__list__item">
                 <img class="section-services__list__item__icon" src="../../assets/img/icons/design.svg" alt="Design Icon" />
                <h3 class="section-services__list__item__name">Design</h3>
                <p class="section-services__list__item__description">Our design strategies, whether through print, video or web, deliver custom solutions that promote both business and customer needs.</p>
          </li>
   		   <li class="section-services__list__item">
                 <img class="section-services__list__item__icon" src="../../assets/img/icons/refine.svg" alt="Refine Icon" />
                <h3 class="section-services__list__item__name">Refine</h3>
                <p class="section-services__list__item__description">Our advanced usability testing tools, including eye tracking, allow you to evaluate the effectiveness of design solutions.</p>
          </li>
    </ul>
	<a class="button button-primary" href="process.php">Our Design Process</a>
</section>
</div>
	<!-- End Services List -->