<div class="panel-primary-container">
    <section class="service-index panel-primary">
    <h2 class="service-index__title">
      Refine
    </h2>
    <div class="service-index__icons">
        <img src="../../assets/img/icons/IdeaBase_SVGicons_Cam-01.svg" />
        <img src="../../assets/img/icons/IdeaBase_SVGicons_Devices-01.svg" />
        <img src="../../assets/img/icons/IdeaBase_SVGicons_Eye-01.svg" />
        <img src="../../assets/img/icons/IdeaBase_SVGicons_Speech-01.svg" />
    </div>
    <p class="service-index_description">Refine an existing product with our advanced testing process.</p>
    <ul class="service-index__examples">
        <li class="service-index__examples__item">In-Person Usability Testing</li> 
        <li class="service-index__examples__item">Remote Usability Testing</li> 
        <li class="service-index__examples__item">Device & Performance Testing</li> 
        <li class="service-index__examples__item">Eyetracking Usability</li> 
    </ul>
    <p class="service-index__examples__supplemental">We can test the performance and usability of your product on various devices in our User Experience Testing Lab. This is a great resource to ensure that your product translates across all platforms.</p>
    <a class="button button-primary" href="ux.php">More About Our UX Testing Lab</a>
    </section>
</div>