<div class="panel-primary-container">
<section class="section-services panel-primary">
	<h2>Our Design Process is Tailored To You</h2>
    <ul class="section-services__list">
    	<li class="section-services__list__item">
            <img class="section-services__list__item__icon" src="../../assets/img/icon-sample.png" alt="Discover Icon" />
        	  <h3 class="section-services__list__item__name">Discover</h3>
        		<p class="section-services__list__item__description">Our targeted user research methods empower you to more effectively address your user's needs.</p>
   		</li>
   		   <li class="section-services__list__item">
                 <img class="section-services__list__item__icon" src="../../assets/img/icon-sample.png" alt="Discover Icon" />
                <h3 class="section-services__list__item__name">Discover</h3>
                <p class="section-services__list__item__description">Our targeted user research methods empower you to more effectively address your user's needs.</p>
          </li>
   		   <li class="section-services__list__item">
                 <img class="section-services__list__item__icon" src="../../assets/img/icon-sample.png" alt="Discover Icon" />
                <h3 class="section-services__list__item__name">Discover</h3>
                <p class="section-services__list__item__description">Our targeted user research methods empower you to more effectively address your user's needs.</p>
          </li>
    </ul>
	<a class="button button-primary" href="process/">Our Design Process</a>
</section>
</div>
	<!-- End Services List -->