<div class="panel-primary-container">
    <section class="service-index panel-primary">
    <h2 class="service-index__title">
      Design
    </h2>
    <div class="service-index__icons">
        <img src="../../assets/img/icons/IdeaBase_SVGicons_Desktop-01.svg" />
        <img src="../../assets/img/icons/IdeaBase_SVGicons_Pencil-01.svg" />
        <img src="../../assets/img/icons/IdeaBase_SVGicons_Square-01.svg" />
        <img src="../../assets/img/icons/IdeaBase_SVGicons_Bolt-01.svg" />
    </div>
    <p class="service-index_description">Design a creative product that delivers on user and business needs.</p>
    <ul class="service-index__examples">
        <li class="service-index__examples__item">Print & Graphic Design</li> 
        <li class="service-index__examples__item">Video Production</li> 
        <li class="service-index__examples__item">Email Marketing</li> 
        <li class="service-index__examples__item">Web Design & Development</li> 
        <li class="service-index__examples__item">Content Strategy</li> 
        <li class="service-index__examples__item">Environmental Design</li>
        <li class="service-index__examples__item">Brand Identity</li>
        <li class="service-index__examples__item">Social Media Campaigns</li>
    </ul>
    </section>
    <div class="service-index__image__container">
    </div>
</div>