<div class="panel-primary-container">
    <section class="service-index panel-primary">
    <h2 class="service-index__title">
      Discover
    </h2>
    <div class="service-index__icons">
        <img src="../../assets/img/lightbulb-sample.png" />
        <img src="../../assets/img/lightbulb-sample.png" />
        <img src="../../assets/img/lightbulb-sample.png" />
        <img src="../../assets/img/lightbulb-sample.png" />
    </div>
    <p class="service-index_description">Identify who your users are and what they are looking for in your product.</p>
    <ul class="service-index__examples">
        <li class="service-index__examples__item">Example 1</li> 
        <li class="service-index__examples__item">Example 2</li> 
        <li class="service-index__examples__item">Example 3</li> 
        <li class="service-index__examples__item">Example 4</li> 
        <li class="service-index__examples__item">Example 5</li>
        <li class="service-index__examples__item">Example 6</li> 
    </ul>
    </section>
    <div class="service-index__image__container">
    </div>
</div>