<div class="panel-primary-container">
    <section class="service-index panel-primary">
    <h2 class="service-index__title">
      Discover
    </h2>
    <div class="service-index__icons">
        <img src="../../assets/img/icons/IdeaBase_SVGicons_Glass-01.svg" />
        <img src="../../assets/img/icons/IdeaBase_SVGicons_Map-01.svg" />
        <img src="../../assets/img/icons/IdeaBase_SVGicons_Compass.svg" />
        <img src="../../assets/img/lightbulb-sample.png" />
    </div>
    <p class="service-index_description">Identify who your users are and what they are looking for in your product.</p>
    <ul class="service-index__examples">
        <li class="service-index__examples__item">User Interviews</li> 
        <li class="service-index__examples__item">Surveys</li> 
        <li class="service-index__examples__item">Competitive Analysis</li> 
        <li class="service-index__examples__item">Focus Groups</li> 
        <li class="service-index__examples__item">Personas</li>
        <li class="service-index__examples__item">Heuristics</li>
    </ul>
    </section>
    <div class="service-index__image__container">
    </div>
</div>