<section class="section-services">
	<h2>Our Design Process is Tailored To You</h2>

    <ul>
    	<li>
        	<h3><a href="#">Servie Name</a></h3>
        		<p>Service Description</p>
   		</li>
   		<li>
   		     	<h3><a href="#">Servie Name</a></h3>
   		     		<p>Service Description</p>
   				</li>
   		<li>
   		     	<h3><a href="#">Servie Name</a></h3>
   		     		<p>Service Description</p>
   		</li>
    </ul>
	<a href="process/">More Services</a>
</section>
	<!-- End Services List -->