<div class="panel-primary-container">
		<section class="people panel-primary-wide">

		<div class="people__image">
		     	<img src="../../assets/img/profile-sample.jpg" alt= "{{ asset.title}}">
		</div>
		<div class="people__info">
			<h1 class="people__title">
				Larrie King
			</h1>
			<p class="people__text">Creative Director, Glyphix</p>
			<p class="people__text">M.A., Visual Communication Design</p>
			
	   		<div class="people__bio">
	   		<p>Kristin is the Business Development Manager for IdeaBase (formerly The Tannery). She is responsible for building client relationships in order to provide high quality experiential learning opportunities for our students.</p>
	   		<p>She previously served as an Entrepreneur-in-Residence for the Center for Entrepreneurship and Business Innovation in the Kent State University College of Business. Her experience prior to coming to Kent State University was as Regional Operations Manager for Kinko’s Inc. (now known as FedEx Office).</p>
	   		</div>
			<p class="people__email"><a href="href="mailto:info@ideabasekent.com"">lking@ideabasekent.com</a></p>
			<p class="people__phone"><a href="#">(330) 672-3000</a></p>
			<!--Same Exact Code as Footer -->
			<section class="footer-info__social">
				<a href="http://www.facebook.com" class="footer-info__social__icon">Facebook</a>
				<a href="http://www.twitter.com"  class="footer-info__social__icon">Facebook</a>
				<a href="http://www.youtube.com" class="footer-info__social__icon">Facebook</a>
				<a href="http://www.linkedin.com" class="footer-info__social__icon">LinkedIn</a>
				<a href="http://www.flickr.com" class="footer-info__social__icon">Facebook</a>
				<a href="http://www.instagram.com" class="footer-info__social__icon">Instagram</a>
			</section>
					<section class="people-projects">
						<h2 class="people-projects__title">Projects</h2>	
							<ul class="people-projects__list">
								<li class="people-projects__list__item">
									<a href="#">ICE Consulting Website</a>
								</li>
								<li class="people-projects__list__item">
									<a href="#">Athletics Annual Report 2015</a>
								</li>
								<li class="people-projects__list__item">
									<a href="#">Teleproductions Poster</a>
								</li>
							</ul>
			    	</section>	
			    	<section class="people-posts">
			    		<h2 class="people-posts__title">Blog Posts</h2>	
			    		<ul class="people-posts__list">
			    			<li class="people-posts__list__item">
			    				<a href="#">The Atmosphere of IdeaBase</a>
			    			</li>
			    			<li class="people-posts__list__item">
			    				<a href="#">Building a Responsive Library Website</a>
			    			</li>
			    			<li class="people-posts__list__item">
			    				<a href="#">The Atmosphere of IdeaBase</a>
			    			</li>
			    		</ul>
			    	</section>
			    	<a class="button button-primary" href="people.php">Return to People</a>	
		</div>
		<!--End Footer Code -->
	</section>
</div>