<div class="panel-secondary-container panel-background-image">
<section class="section-price panel-secondary">
	<h2>Helping our students succeed</h2>
	<p>At IdeaBase, we want our student employees to succeed. That’s why we partner with Glyphix to teach the next generation through studio experiences. Our students develop and exercise project-based skills in marketing, design, research and more.  Additionally, our Responsive Web Design class ensures the next generation of designers and developers understand how to create highly functional and usable websites.</p>
	<a class="button button-primary" href="projects.php">Learn About Our Classroom Experiences.</a>
</section>
</div>