<div class="panel-primary-container">
<section class="section-introduction panel-primary">
	<h2>Committed to quality</h2>
	<p>At IdeaBase, we’re determined to deliver quality design solutions while equipping our student team with lasting experiential learning opportunities.  That’s why our student employees work under the guidance of our professional staff from the College of Communication of Information and a professional advisory board, while working directly with clients, developing proposals and managing projects.</p>
</section>
</div>