<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="fb:pages" content="139548226248228" />
<link rel="alternate" type="application/rss+xml" title="IdeaBase" href="{{siteUrl}}feed.rss">

{# Render SEO Metatags #}
{% hook 'seomaticRender' %}

{% include '_includes/_favicons.html' %}

{# Begin Critical CSS #}
<style type="text/css">
 {% include '_includes/critical.css' %}
</style>
{# End Critical CSS #}

{# Bring in the main stylesheet #}
<link href="{{ siteUrl }}css/styles.css" type="text/css" rel="stylesheet" media="screen"/>

{# Modernizer helps test for things like JavaScript and flexbox #}
<script async type="text/javascript" src="{{ siteUrl }}js/modernizr-custom.min.js"></script>

{% if getenv('ENVIRONMENT') == 'dev' %}
{# Live Reload - For local environment only #}
  <script src="//localhost:35729/livereload.js"></script>
{% endif %}
