<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="fb:pages" content="139548226248228" />
<link rel="alternate" type="application/rss+xml" title="IdeaBase" href="{{siteUrl}}feed.rss">

{# Render SEO Metatags #}
{% hook 'seomaticRender' %}

{% include '_includes/_favicons.html' %}

{# Critical CSS #}
<style type="text/css">
 {% include '_includes/critical.css' %}
</style>

{# Bring in the main stylesheet #}
<link href="{{ url('css/style.css') }}" type="text/css" rel="stylesheet" media="screen"/>
