{#
 # News index template
 #}

{% extends "_layout" %}
{% set title = "Testimonial" %}

{% block content %}
	<h1>Testimonials</h1>

	{% for entry in craft.entries.section('news').find() %}
		<section class="testimonial-individual">
			<h3 class="testimonial-individual__title">
				<a href="{{ entry.url }}">
					{{ entry.title }}
				</a>
			</h3>
			<p class="testimonial-individual__text">
				Posted on {{ entry.postDate.format('F d, Y') }}
			</p>
			<p class="testimonial-individual__text">
				<a href="{{ entry.url }}">
					Continue reading
				</a>
			</p>
		</section>
	{% endfor %}
{% endblock %}
