{# /templates/proposals/clients/index.twig #}

{% requirePermission "accessCp" %}

{% extends '_proposals_layout' %}

{# set clients = list of clients ordered by title #}
{% set clients = craft.categories.group('clients').orderBy('title').all() %}

{% block content %}
  <div class="proposals-index-container">
    {# page title #}
    <h1>Clients</h1>

    <table class="proposals-index-table proposals-clients-table">
      <thead>
        <th>Name</th>
      </thead>
      <tbody>
        {# begin clients loop #}
        {% for client in clients %}
          <tr>
            <td><div><a href="{{ client.url }}">{{ client.title }}</a></div></td>
          </tr>
        {% endfor %}
        {# end clients loop #}
      </tbody>
    </table>
  </div>
{% endblock %}
{# end content block #}
