@charset "UTF-8";
/* header */
@import url(https://fonts.googleapis.com/css?family=Montserrat:700|Source+Sans+Pro:600,700,300,300italic);
header { text-align: center; *zoom: 1; }
header:before, header:after { content: " "; display: table; }
header:after { clear: both; }

.nav__trigger { display: block; }
@media screen and (min-width: 600px) { .nav__trigger { display: none; } }

.nav__trigger__link { display: inline-block; background-color: #1a5fab; padding: .5em 1em; text-decoration: none; color: white; margin-bottom: 1em; }

nav { height: 0; opacity: 0; -webkit-transition: all .7s ease-out; transition: all .7s ease-out; overflow: hidden; }
nav li { height: 0; opacity: 0; -webkit-transition: all .25s ease-out; transition: all .25s ease-out; }
@media screen and (min-width: 600px) { nav { display: block; height: auto; opacity: 1; -webkit-transition: none; transition: none; }
  nav li { height: auto; opacity: 1; -webkit-transition: none; transition: none; } }

.nav--show { height: auto; opacity: 1; }
.nav--show li { height: 2em; opacity: 1; -webkit-transition: none; transition: none; }

nav li { list-style-type: none; font-family: 'Montserrat', sans-serif; text-transform: uppercase; padding: .4em; font-size: 1em; }
nav li a { color: #1a5fab; text-decoration: none; }

@media screen and (min-width: 600px) { nav li { display: inline; margin: 2em; } }
@media screen and (min-width: 1000px) { .ideabaselogo { text-align: left; width: 40%; float: left; }
  header { text-align: right; margin-right: 1.5em; }
  nav { margin-top: 2em; width: 60%; float: right; margin-right: 1.4em; font-size: .85em; } }
ul { margin: 0; padding: 0; }

nav { margin-bottom: 1.5em; }

.section-about { padding: 0 2em 1em 2em; text-align: center; }

.ideabaselogo { max-width: 300px; }

body { font-family: 'Source Sans Pro', sans-serif; }

* { box-sizing: border-box; }

/* buttons */
.buttons { text-align: center; }

.button { display: inline-block; color: white; text-decoration: none; font-family: 'Montserrat', sans-serif; text-transform: uppercase; letter-spacing: 3px; font-size: .65em; padding: 1em 1.4em 1em 1.8em; border-style: solid; border-width: 3px; margin: 1em 2em; }

.button::after { content: "▶"; font-size: .5em; padding-left: 15px; }

.button-primary { background-color: #1a5fab; border-color: #1a5fab; }

.button-secondary { background-color: #00a8e1; border-color: #00a8e1; }

.button-tertiary { background-color: transparent; color: #1a5fab; border-color: #1a5fab; }

/* headings */
h1 { font-family: 'Montserrat', sans-serif; text-transform: uppercase; text-align: center; font-size: 2em; color: #00a8e1; }

h2 { font-family: 'Montserrat', sans-serif; text-transform: uppercase; text-align: center; font-size: 1.4em; color: #1a5fab; letter-spacing: 3px; }

h3 { font-family: 'Source Sans Pro', sans-serif; font-weight: 600; color: #1a5fab; }

/* paragraph */
p { font-size: 1.1em; line-height: 1.5; }

.highlight { font-size: 1.2em; font-weight: 600; color: #4d4d4d; text-align: center; }

/* color */
.swatches { text-align: center; }

.swatch { width: 70px; height: 70px; display: inline-block; margin: 1em 1.5em; }

.swatch-royal { background-color: #1a5fab; }

.swatch-cyan { background-color: #00a8e1; }

.swatch-darkgray { background-color: #4d4d4d; }

.swatch-lightgray { background-color: #bcbec0; }

/* primary layout */
.content-primary { padding: 1em 3em; clear: left; }

/* secondary layout */
.content-secondary { background-color: #1a5fab; color: white; padding: 2em 3em; }

.content-secondary h2, .content-secondary h3, .content-secondary .highlight { color: white; }

.content-secondary h1 { color: #00a8e1; }

.content-secondary .button-primary { background-color: white; color: #1a5fab; border-color: white; }

/* footer */
footer { background-color: #4d4d4d; padding: 1em 3em; margin: 0; color: white; font-weight: 600; font-size: .8em; }
