/* footer */

.global-footer {
	text-align: center;
	margin-top: 4em;
  width: 100%;
}

.footer-info__container {
  background-color: lighten($lightgray,5%);
  top: 40px;
  position: relative;
  @media screen and (min-width: 700px) {
    top: 50px;
  }
}

.footer-info {
  padding: 4.5em 2em 2em 2em;;
  font-weight: 500;
  text-align: center;
  margin: 0 auto;
  max-width: 1100px;
  p, a {
    font-size: .75rem;
    font-weight: 500;
  }
  @media screen and (min-width: 700px) {
    padding: 5.5em 2em 2em 2em;
    //text-align: left;
    p, a {
      font-size: .75rem;
    }
  }
}

.footer-info__address, .footer-info__contact {
	width: 200px;
  margin: 0 auto;
  margin-bottom: 1em;
  font-weight: 600;
  text-align: center;
  p, a {
    font-size: .95rem;
  }
  a {
    color: $blue;
    text-decoration: none;
    transition: .3s all ease-in-out;
    &:hover, &:focus {
      color: $cyan;
    }
  }
  @media screen and (min-width: 700px) {
    width: 50%;
    float: left;
    text-align: center;
    margin-bottom: 2em;
  }
  @media screen and (min-width: 900px) {
    width: 33%;
    text-align: left;
  }
  @media screen and (min-width: 1100px) {
    width: 38%;
    text-align: left;
  }
}

.global-footer__directions {
  display: inline-block;
  position: relative;
  padding-right: 1.1em;
 &:after {
    content: "";
    background-image: url(../images/global/arrow-right-blue_151214_170628.svg);
    background-size: auto;
    background-repeat: no-repeat;
    font-size: .5em;
    height: 10px;
    width: 7px;
    position: absolute;
    right: 0;
    top: 4px;
  }
}

.global-footer__text {
  margin: 0;
  padding: 0;
  font-weight:normal;
  line-height: 1.5;
}

.footer-info__social {
  text-align: center;
  @include clearfix;
  display: block;
  width: 220px;
  margin: 1.5em auto 1em auto;
  @media screen and (min-width: 700px) {
    width: 250px;
		margin-top: 0;
  }
}

.footer-info__social--profile {
  display: inline-block;
  width: inherit;
}

.footer-info__social--footer {
  @media screen and (min-width: 700px) {
    clear: left;
  }

  @media screen and (min-width: 900px) {
    width: auto;
    float: right;
    clear: none;
    text-align: left;
  }
}

.global-footer__text__name {
  color: $blue;
  padding-right: .5em;
  font-weight: bold;
}

.footer-info__supplemental {
	text-align: center;

	font-size: .85em;
  width: 100%;
  clear: left;
  @media screen and (min-width: 900px) {
    text-align: left;
    font-size: .85em;
  }
}

.footer-info__social__icon {
  background-repeat: no-repeat;
  background-size: 100% auto;
  float: left;
  display: inline;
  width: 30px;
  height: 30px;
  margin-left: .15rem;
  margin-right: .15rem;
  text-indent: -9999px;
  transform: scale(.95);
  transition: .1s transform ease-in;
  @media screen and (min-width: 700px) {
    width: 35px;
    height: 35px;
  }
  &:hover, &:focus {
    transform: scale(1.05);
  }
  &[href*="facebook.com"] {
    background-image: url(../images/global/facebook.svg);
  }
  &[href*="flickr.com"] {
    background-image: url(../images/global/flickr.svg);
  }
  &[href*="linkedin.com"] {
    background-image: url(../images/global/linkedin.svg);
  }
  &[href*="twitter.com"] {
    background-image: url(../images/global/twitter.svg);
  }
  &[href*="youtube.com"] {
    background-image: url(../images/global/youtube.svg);
  }
  &[href*="instagram.com"] {
    background-image: url(../images/global/instagram.svg);
  }
	&[href*="wordpress.com"] {
    background-image: url(../images/global/wordpress.svg);
  }
	&[href*="dribbble.com"] {
    background-image: url(../images/global/dribbble.svg);
  }
	&[href*="behance.net"] {
    background-image: url(../images/global/behance.svg);
  }
	&[href*="codepen.io"] {
    background-image: url(../images/global/codepen.svg);
  }
	&[href*="github.com"] {
    background-image: url(../images/global/github.svg);
  }
	&[href*="tumblr.com"] {
    background-image: url(../images/global/tumblr.svg);
  }
	&[href*="pinterest.com"] {
    background-image: url(../images/global/pinterest.svg);
  }
	&[href$=".com"] {
		background-image: url(../images/global/website.svg);
	}
}

.footer-info__legal {
  margin: 0;
  padding: 0;
  line-height: 1.4;
  a {
    color: $blue;
    text-decoration: none;
  }
}

.footer-info__logo {
  width: 225px;
  display: block;
  margin: 0 auto;
  margin-bottom: 1em;
  margin-top: 1em;
  img {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  @media screen and (min-width: 900px) {
    float: right;
    display: inline-block;
    width: 220px;
    margin-top: 0px;
  }
}

.footer-info__bottom {
  clear: left;
  display: block;
	@media screen and (min-width: 900px) {
		margin-top: 1.8em;
	}
}

.footer-info__nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  margin-top: 1.5em;
  display: inline-block;
  margin-bottom: 1.5em;
  @include clearfix;
  @media screen and (min-width: 900px) {
    margin-left: 0;
    width: auto;
    margin-top: 0;
  }
}

.footer-info__nav__item {
  float: left;
  font-weight: 600;
  margin-left: .5em;
  margin-right: .5em;
  a {
    color: $blue;
    text-decoration: none;
    font-size: .8rem;
    transition: .3s all ease-in-out;
    &:hover, &:focus {
      color: $cyan;
    }
  }
  @media screen and (min-width: 450px) {
    a {
      font-size: 1rem;
    }
  }
  @media screen and (min-width: 900px) {
    margin-left: 0;
    margin-right: 2em;
    margin-bottom: 1em;
    a {
      font-size: 1.05rem;
    }
  }
}

.footer-info__about {
  a {
    color: $blue;
    text-decoration: none;
    transition: .3s all ease-in-out;
    &:hover, &:focus {
     color: $cyan;
    }
  }
  @media screen and (max-width: 900px) {
    display: none;
  }
}



// Email Signup Form in Footer //

.footer-info__email {
	margin-top: 4.5em;
	.footer-info__email__heading {
		color: black;
		font-size: .95em;
		font-weight: normal;
		padding-bottom: .75em;
		margin-bottom: 0;
		@media screen and (min-width: 700px) {
			margin-top: 2.5em;
		}
	}
	@media screen and (min-width: 700px) {
		margin-left: .8em;
	}
}

.footer-info__email__signup {
	.footer-info__email__signup__form__field {
		padding: .5em 1em;
		display: inline-block;
		border: none;
		border: 1px solid $lightgray;
		position: relative;
		z-index: 1;
		font-size: 16px;
		max-width: 160px;
		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			color: $lightgray;
		}
		&::-moz-placeholder { /* Firefox 19+ */
			color: $lightgray;
		}
		&:-ms-input-placeholder { /* IE 10+ */
			color: $lightgray;
		}
		&:-moz-placeholder { /* Firefox 18- */
			color: $lightgray;
		}
		@media screen and (min-width: 900px) {
			font-size: 14px;
		}
	}

	input[type="submit"] {
		display: block;
		height: 34px;
		width: 60px;
		font-size: 1.5em;
		margin-left: -1px;
		color: white;
		line-height: 0;
		padding: 0;
		text-align: center;
		background-color: $blue;
		letter-spacing: normal;
		padding-bottom: 0.15px;
		border-radius: 0;
		&:hover, &:focus {
			background-color: darken($blue, 10%);
		}
		@media screen and (min-width: 900px) {
			padding-bottom: 0.15em;
			border-radius: 3px;
		}
	}
}

.footer-info__email__signup__form {
	display:flex;
	height: 35px;
}
