.section-success__heading {
	text-transform: uppercase;
	color: $blue;
	font-size: 2em;
}

.section-success__icon {
	width: 100px;
	margin-bottom: 1em;
}

.section-success {
	margin-bottom: 1em;
}

.section-success-button {
	padding: 0;
}