iframe {
	width: 100%;
	max-width: 100%;
}

.section-body-video {
	padding-top: .5em;
	padding-bottom: .5em;
}

.section-body-video figure {
	margin: 0 auto;
	@media screen and (min-width: 600px) {
		width: 85%;
	}
}

.fluid-width-video-wrapper {
	iframe {
		border: none;
	}
}
