{% extends "_wiki-layout" %}
{% block content %}


{% for asset in entry.aboutImage %}
<img class="landing-feature-image" src="{{asset.url}}" alt={{asset.title}} />
{% endfor %}


{% if entry.hasDescendants() %}
<h1>{{entry.title}}</h1>
<ul>
  {% set children = entry.descendants() %}
    {% for child in children %}
      <li>
        <a href="{{child.url}}">{{child.title}}</a>
      </li>
    {% endfor %}
</ul>
{% else %}
<h1>{{entry.title}}</h1>
<p>{{entry.body}}</p>
<h1>Downloads: </h1>
{% for file in entry.downloads %}
  <a href="{{file.url}}">{{file.title}}</a>
{% endfor %}
{% set stepCounter = 1 %}
{% for block in entry.howTo %}
  {% if block.type == "step" %}
    <p>{{stepCounter |striptags }}. {{block.text}}</p>
    {% for img in block.image %}
    <img src="{{img.url}}" />
    {% endfor %}
    {% set stepCounter = stepCounter + 1 %}
  {%endif %}
  {% if block.type == "code" %}
    <pre><code class="language-{{block.language}}">{{block.code}}</code></pre>
  {% endif %}
{% endfor %}

{% endif %}
{%endblock%}
