{% extends "_wiki-layout" %}
{% block content %}


{% for asset in entry.aboutImage %}
<img class="landing-feature-image" src="{{asset.url}}" alt={{asset.title}} />
{% endfor %}

<h1>{{entry.title}}</h1>

<p>{{entry.body}}</p>
{% set stepCounter = 1 %}
{% for block in entry.howTo %}
{% if block.type == "step" %}
  <p>{{stepCounter |striptags }}. {{block.text}}</p>
  {% set testImg = block.image.first()%}
  <img src="{{testImg.url}}" />
  {% set stepCounter = stepCounter + 1 %}
{%endif %}

{% endfor %}


{%endblock%}
