{#
 # Blogs entry template
 #}

{% extends "_layout" %}

{% block content %}

{% if entry.blogFeaturedImage | length %}
<section class="section-header-blog-basic-page">
		{% for asset in entry.blogFeaturedImage %}
		<picture>
		  <source media="(max-width: 639px)" srcset="{{ asset.url('featureImageSmall') }}" >
		  <source media="(min-width: 1024px)" srcset="{{ asset.url('featureImageLarge') }}">
		  <source media="(min-width: 640px)" srcset="{{ asset.url('featureImageMedium') }}">
		  <img class="blog__entry__image" srcset="{{ asset.url('featureImageLarge') }}" alt= "{{ asset.title}}">
		</picture>
		{% endfor %}
</section>
{% endif %}
<div class="panel-primary-container">
    <section class="section-blog-entry panel-primary">
	<article class="blog__entry">
		<h1 class="blog__entry__title">{{ entry.title }}</h1>
		<div class="blog__entry__info">
		{% set blogAuthor = entry.blogAuthor %}
		{% set numberOfAuthors = entry.blogAuthor|length %}
			{% if numberOfAuthors < 2 %}
				{% for entry in blogAuthor %}
				<span class="blog__entry__author">{{ entry.title }}</span>
				{% endfor %}
			{% else %}
				{% for entry in blogAuthor %}
				<span class="blog__entry__author blog-multiple__author">{{ entry.title }}</span>
				{% endfor %}
			{% endif %}
			<date class="blog__entry__date">Posted on {{ entry.postDate.format('F d, Y') }}</date>
		</div>
		<div class="blog__entry__text">
			{{ entry.blogContent}}
			{% for block in entry.blogPostContent %}

			    {% if block.type == "text" %}
			        {{ block.text }}

			    {% elseif block.type == "image" %}

			        {% set image = block.image.first() %}
			        {% if image %}
			        	<section class="section-body-image panel-primary">
			        		<figure class="section-body-image__figure">
			        			<img class="section-body-image__image" src="{{ image.url('blogInlineImage') }}" alt="{{ image.title }}" />
			        			<figcaption class="section-body-image__caption">{{ image.caption }}</figcaption>
			        		</figure>
			        	</section>
			        {% endif %}

			    {% elseif block.type == "video" %}

			    <section class="section-body-video panel-primary">
			    	<figure class="section-body-video__figure video-container">
							{% set embed = craft.videoEmbedder.getEmbedUrl(block.videoURL) %}
			        {% if embed|length %}
			    		  <iframe src="{{ embed }}" height="400"></iframe>
			        {% endif %}
			    		<figcaption class="section-body-image__caption">{{ block.videoCaption }}</figcaption>
			    	</figure>
			    </section>

			    {% elseif block.type == "pullQuote" %}

			        <section class="testimonial-entry panel-primary">
			        		<blockquote class="testimonial-entry__text">{{ block.pullQuote }}
			        		</blockquote>
			        		<cite class="testimonial-entry__author">{{ block.pullQuoteAuthor }}</cite>
			        </section>

			    {% endif %}

			{% endfor %}
		</div>
	</article>
  {% set entries = entry.blogAuthor %}
  {% include '_includes/_peopleSmall.html' %}
		{% set tag = entry.blogTags %}
		{% set relatedEntries = craft.entries.relatedTo(tag).id('not ' ~ entry.id).limit(3).order('RAND()').find() %}
			{% if relatedEntries | length %}
			<section class="people-posts people-posts--blog">
			<h2 class="people-posts__title">Related Posts</h2>
			<ul class="people-posts__list">
			    {% for entry in relatedEntries %}
			        <li class="people-posts__list__item">
			        	<a href="{{ entry.url }}">
			        		{{ entry.title }}
			        	</a>
			        </li>
			    {% endfor %}
			</ul>
			</section>
			{% endif %}

	<!-- Begin Tags -->
	{% if entry.blogTags | length %}
	<ul class="blog__entry__tags">
    	{% for tag in entry.blogTags %}
    		<li class="blog__entry__tags__single">
          		<a class="blog__entry__tags-link" href="{{ siteUrl }}blog/tags/{{ tag.title }}">{{ tag.title }}</a>
      		</li>
      	{% endfor %}
    </ul>
    {% endif %}
		<a class="button button-primary button--reverse" href="{{ siteUrl }}blog">Back to Blog</a>
	</aside>
	</section>
</div>

	{% endblock %}
