{#
 # Blogs index template
 # -------------------
 #}

{% extends "_layout" %}

	{% block content %}
		<section class="blog-index">
			<h1 class="blog-index__title">
				Blogs
  <section class="people-individual">	
	{% set categories = craft.categories.group('caseStudyOrBlog') %}
	{% set staff = craft.entries.section('blogPost').orderBy('title').limit(null) %}
	{% for category in categories.relatedTo(projects) %}
  	<h3 class="people-individual__category">{{ category.title }}</h3>

  		<ul class="people-individual-list">
    		{% for entry in staff.relatedTo(category) %}
    			<li class="people-individual-list__item">	
					<h3 class="people-individual-list__title">
						<a href="{{ entry.url }}">
							{{ entry.title }}
						</a>
					</h3>
				</li>
   			{% endfor %}
  		</ul>
	{% endfor %}
	{% endblock %}