{% extends "_wiki-layout" %}
{% block content %}


<div class="panel-primary-container">
<section class="section-success panel-primary">
    <img class="section-success__icon" src="{{ siteUrl }}images/global/checkmark.svg" alt="Checkmark" />
    <h1 class="section-success__heading">Thanks!</h1>
    <div class="section-success__paragraph">
      We'll get right on that!
    </div>
</section>
<section class="section-success-button panel-primary">
  <a class="button button-primary button--reverse" href="/wiki">Return to IdeaBase KB</a>
</section>
</div>


{%endblock%}
