{#
 # Advisory Board template
 #}

{% extends "_layout" %}

{% block content %}
{% include '_includes/_background-images.html' %}
<div class="panel-primary-container">
<section class="section-introduction panel-primary">
		<h1 class="project-single__name">{{ entry.title }}</h1>
		<div class="introduction">{{ entry.introduction }}</div>
	</section>
	{% set image = entry.aboutImage.one() %}
	{% if image %}
		<section class="section-body-image panel-primary">
			<figure class="section-body-image__figure">
				<img class="section-body-image__image" src="{{ image.url }}" alt="{{ image.title }}" />
			</figure>
		</section>
	{% endif %}
</div>

	{% set alumni = craft.entries.section('people').orderBy('profileLastName asc') %}

<div class="panel-primary-container">
<section class="section-people-listing panel-primary">
   <section class="people-listing">
   			<ul class="people-listing__list">
    		{% for entry in alumni.limit(null) %}
    				{% if entry.alumniLightswitch %}
    				<li class="people-listing__item">
		    			<a href="{{ entry.Url }}">
							<h3 class="people-listing__name">{{ entry.profileFirstName }}
							{{ entry.profileLastName }}</h3>
							{% if entry.alumniCurrentPosition|length %}
								<p class="people-listing__title">{{ entry.alumniCurrentPosition }}</p>
							{% endif %}
						</a>
					</li>
					{% endif %}
   			{% endfor %}
   			</ul>
   	</section>
  	<div class="section-body-button">
  		<a class="button button-primary button--reverse" href="{{ siteUrl }}people">Return to People</a>
  	</div>
</section>

{% endblock %}
