{#
 # Basic Page entry template
 #}

{% extends "_layout" %}

{% block content %}

{% include '_includes/_background-images.html' %}

<section class="section-header section-header--interior">
	<div class="section-header__container">
		<h1 class="section-header__title">{{ entry.title }}</h1>
	</div>
</section>

<div class="section-basic-page panel-primary-container">
<section class="section-introduction panel-primary">
		<div class="introduction">{{ entry.introduction }}</div>
</section>
</div>

{% for block in entry.basicPageOptions %}

    {% if block.type == "text" %}
    	<section class="section-basic-page panel-primary">
        {{ block.basicPageText }}
        </section>

    {% elseif block.type == "button" %}
    	<section class="section-body-button panel-primary">
    		<a class="button button-primary" href="{{ block.buttonUrl }}">{{ block.buttonTitle }}</a>
    	</section>
	
	{% elseif block.type == "buttonInternalLink" %}
		<section class="section-body-button panel-primary">
			<a class="button button-primary" href="{{ block.buttonLinkInternal.first().url }}">{{ block.buttonNameInternal }}</a>
		</section>

    {% elseif block.type == "image" %}

        {% set image = block.image.first() %}
        {% if image %}
        	<section class="section-body-image panel-primary">
        		<figure class="section-body-image__figure">
        			<img class="section-body-image__image" src="{{ image.getUrl('basicPageImage') }}" alt="{{ image.title }}" />
        			<figcaption class="section-body-image__caption">{{ image.caption }}</figcaption>
        		</figure>
        	</section>
        {% endif %}

    {% elseif block.type == "video" %}

    <section class="section-body-video panel-primary">
    	<figure class="section-body-video__figure">
    		{{ block.videoURL|videoEmbed }}
    		<figcaption class="section-body-image__caption">{{ block.videoCaption }}</figcaption>
    	</figure>
    </section>

    {% elseif block.type == "callOut" %}

    <div class="panel-secondary-container panel-background-image">
    <section class="section-price panel-secondary">
        <h2>{{ block.callOut }}</h2>
        {% set image = block.callOutImage.first() %}
        {% if image %}
        	<img class="panel-secondary__thumbnail" src="{{ image.getUrl }}" alt ="{{ image.title }}" />
            <div class="panel-secondary--left">
                {{ block.callOutText }}
            </div>
        {% else %}
            {{ block.callOutText }}
        {% endif %}
    </section>
    </div>

    {% elseif block.type == "pullQuote" %}

        <section class="testimonial-entry panel-primary">
        		<blockquote class="testimonial-entry__text">{{ block.pullQuote }}
        		</blockquote>	
        		<cite class="testimonial-entry__author">{{ block.pullQuoteAuthor }}</cite>
        </section>

    {% endif %}

{% endfor %}

{% endblock %}
