{#
 # Blogs entry template
 #}

{% extends "_layout" %}

{% block content %}
	<section>
		{% for entry in entry.blogAuthor %}
			{{ entry.title }}
    		{{ entry.profileBiographyDescription }}
    		{{ entry.profileJobTitle }}
    		<div class="people__image">
				{% for asset in entry.staffHeadshot %}
     				<img src="{{ asset.getUrl('featuredImageTop') }}" alt= "{{ asset.title}}">
   				{% endfor %}
   			</div>
		{% endfor %}
	</section>
	<article class="blog">
		<h1 class="blog__title">{{ entry.title }}</h1>
		<p class="blog__date">Posted on {{ entry.postDate.format('F d, Y') }}</p>
		<p class="blog__text">{{ entry.blogContent}}</p>
	</article>

	{% endblock %}