{#
 # Blogs tag template
 # -------------------
 #}

{% extends "_layout" %}
{% block content %}

{% include '_includes/_blog_background-images.html' %}

{% set tag = craft.tags.title(tag).first() %}
{% set entries = craft.entries.relatedTo(tag).order('title').limit(null) %}

<section class="blog section-header section-header--interior">
	<div class="section-header__container">
		<h1 class="section-header__title">Posts tagged with “{{ tag.title }}”</h1>
	</div>
</section>

<div class="panel-primary-container">
	<section class="section-blog-all panel-primary">
		<ul class="blog-list">
			{% for entry in entries %}
	    		<li class="blog-list__item">
					<a href="{{ entry.url }}">
						<h1 class="blog-list__title">{{ entry.title }}</h1>
			     		{% set blogAuthor = entry.blogAuthor %}
			     		{% set numberOfAuthors = entry.blogAuthor|length %}
				    	<div class="blog-list__info">
						    {% if numberOfAuthors < 2 %}
								{% for entry in blogAuthor %}
									<span class="blog-list__author">{{ entry.title }}</span>
								{% endfor %}
							{% else %}
								{% for entry in blogAuthor %}
									<span class="blog-list__author blog-multiple__author">{{ entry.title }}</span>
								{% endfor %}
							{% endif %}
							<date class="blog-list__date">{{ entry.postDate | date("M d, Y") }}</date>
						</div>
						{% set blogParagraphsIndex = entry.blogContent|split('.') %}
						{% set firstBlogParagraphIndex = blogParagraphsIndex|first ~ '.' %}
						<div class="blog-list__text">
				    		{{ firstBlogParagraphIndex|raw }}
				    	</div>
				    	{% if numberOfAuthors < 2 %}
				    		{% for entry in blogAuthor %}
				    			<p class="blog-teaser__link">
									Read {{ entry.profileFirstName}}'s Post</p>
							{% endfor %}
						{% else %}
							<p class="blog-teaser__link">
								Read the Post</p>
						{% endif %}
					</a>
				</li>
   			{% endfor %}
   		</ul>
      <a class="button button-primary button--reverse" href="{{ siteUrl }}blog">Back to Blog</a>
   	</section>
</div>
{% endblock %}
