{#
 #}

{% extends "_layout" %}


{% block content %}
{% include '_includes/_background-images.html' %}
<section class="section-header section-header--interior">
	<div class="section-header__container">
		<h1 class="section-header__title">{{ entry.title }}</h1>
	</div>
</section>

{% set Blog = craft.entries.section('blogPost').limit(null) %}

<div class="panel-primary-container">
<section class="section-blog-all panel-primary">
	<ul class="blog-list">
		{% for entry in Blog %}
    		<li class="blog-list__item">
					<a href="{{ entry.url }}">

			     		<h1 class="blog-list__title">{{ entry.title }}</h2>
			     		{% set blogAuthor = entry.blogAuthor %}
						{% for entry in blogAuthor %}
						<span class="blog-list__author">{{ entry.title }}</span>
						{% endfor %}
						<span class="blog-list__date">{{ entry.postDate | date("M d, Y") }}</span>
							
						{% set blogParagraphsIndex = entry.blogContent|split('.') %}
						{% set firstBlogParagraphIndex = blogParagraphsIndex|first ~ '.' %}
							<div class="blog-list__text">
					    		{{ firstBlogParagraphIndex|raw }}
					    	</div>
					    {% set numberOfAuthors = entry.blogAuthor|length %}
					    {% if numberOfAuthors < 2 %}
						    {% for entry in blogAuthor %}
							<p class="blog-teaser__link">
								Read {{ entry.profileFirstName}}'s Post</p>
							{% endfor %}
						{% else %}
							{% if numberOfAuthors >= 2 %}
							<p class="blog-teaser__link">
								Read the Post</p>
							{% endif %}
						{% endif %}
					    
						</a>	
			</li>
   			{% endfor %}
   		</ul>
   	</section>
   </div>

{% endblock %}