{#
 # Blogs index template
 # -------------------
 #}

{% extends "_layout" %}

	{% block content %}
		<section class="blog-index">
			<h1 class="blog-index__title">
				Blogs
			</h1>
			{% for entry in craft.entries.section('blogPost').find() %}
				<article class="blog-index-entry">
					<h3 class="blog-index-entry__title">
						<a href="{{ entry.url }}">
							{{ entry.title }}
						</a>
					</h3>
					<p class="blog-index-entry_date">
						Posted on {{ entry.postDate.format('F d, Y') }}
					</p>
					<p class="blog-index-entry_link">
						<a href="{{ entry.url }}">
							Continue reading
						</a>
					</p>
				</article>
			{% endfor %}	
		</section>	
	{% endblock %}