@import 'partials/_partials_.scss';

body {
  font-family: $source;
}

img {
  max-width: 100%;
}

html, body {
   height: 100%;
}

.no-scroll, .no-scroll-mobile  {
	overflow: hidden;
}

.transparent {
	opacity: 0;
}

.opaque {
	opacity: 1;
}

@media screen and (min-width: 900px) {
	.no-scroll-mobile {
		overflow: auto;
	}
}

