@import 'partials/_partials_.scss';

@import url(https://fonts.googleapis.com/css?family=Montserrat:700|Source+Sans+Pro:600,700,400,400italic);

body {
  font-family: $source;
}

img {
  max-width: 100%;
}

html, body {
   height: 100%;
}

/* color */

