@import 'partials/_partials_.scss';

body {
  font-family: $source;
}

img {
  max-width: 100%;
}

/* color */

.swatches {
  text-align: center;
}
.swatch {
  width: 70px;
  height: 70px;
  display: inline-block;
  margin: 1em 1.5em;
}
.swatch-royal {
  background-color: rgb(26,95,171);
}
.swatch-cyan {
  background-color: rgb(0,168,225);
}
.swatch-darkgray {
  background-color: rgb(77,77,77);
}
.swatch-lightgray {
  background-color: rgb(188,190,192);
}

