{# /templates/proposals/proposal-list/index.twig #}

{% requireLogin %}
{% requirePermission "accessCp" %}

{% extends '_proposals' %}

{% block content %}
  <div class="proposals-index-container">
    {# page title #}
    <h1>Proposals</h1>

    <table class="proposals-index-table">
      <thead>
        <tr>
          <th>Proposal</th>
          <th>Project ID</th>
        </tr>
      </thead>
      <tbody>
        {# begin proposals loop #}
        {% for proposal in craft.entries.section('proposals').orderBy('entries.dateUpdated desc').all() %}
          <tr>
            <td><a href="{{ proposal.url }}">{{ proposal.title }}</a></td>
            <td>{{ proposal.projectId }}</td>
          </tr>
        {% endfor %}
        {# end proposals loop#}
      </tbody>
    </table>
  </div>
{% endblock %}
{# end content block #}
