{#
 # Testimonial entry template
 # -------------------
 #}

{% extends "_layout" %}

{% block content %}
	<section class="testimonial-entry">
		<h1 class="testimonial-entry__title">{{ entry.title }}</h1>
		<p class="testimonial-entry__date">Posted on {{ entry.postDate.format('F d, Y') }}</p>
		<p class="testimonial-entry__text">{{ entry.dateOfQuote }}</p>
		<p class="testimonial-entry__text">{{ testimonialNameOfQuoter }}</p>
		<p class="testimonial-entry__text">{{ testimonialQuote }}</p>
	</section>
{% endblock %}
