{% extends "_layout" %}
{% set title = "404" %}

{% block content %}
	<style type="text/css">
    .section-header {
      {% if fourofour.aboutImage | length %}
        {% for asset in fourofour.aboutImage.all() %}
          background-image: url({{ asset.url('featureImageSmall') }});
        {% endfor %}
      {% endif %}
    }
    @media screen and (min-width: 600px) {
      .section-header {
        {% if fourofour.aboutImage | length %}
          {% for asset in fourofour.aboutImage.all() %}
            background-image: url({{ asset.url('featureImageMedium') }});
          {% endfor %}
        {% endif %}
      }
    }
    @media screen and (min-width: 1000px) {
      .section-header {
        {% if fourofour.aboutImage | length %}
          {% for asset in fourofour.aboutImage.all() %}
            background-image: url({{ asset.url('featureImageLarge') }});
          {% endfor %}
        {% endif %}
      }
    }
	</style>
	<section class="section-header section-header--interior">
		<div class="section-header__container">
			<h1 class="section-header__title">404: Page Not Found</h1>
		</div>
	</section>
	<div class="section-basic-page panel-primary-container">
	<section class="panel-primary">
    <div class="introduction">{{fourofour.introduction}}</div>
    {{fourofour.body}}
    <a class="button button-primary button--reverse" href="{{ siteUrl }}">Return Home</a>
	</section>
	</div>
{% endblock %}
