{% spaceless %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	{% include '_global/head' %}

	{# include proposal stylesheet #}
	<link href="{{ siteUrl }}css/proposals.css" type="text/css" rel="stylesheet" media="screen, projection, print"/>
	
	<meta name="robots" content="noindex">
</head>

<body>
	{# content block #}
	<main role="main">
		{% block content %}
		{% endblock %}
	</main>

	{# need different fonts than the main site, and don't need the custom scripts #}
	<script type="text/javascript">
		WebFontConfig = {
	    google: { families: [ 'Montserrat:700', 'Source+Sans+Pro:600,700,400,400italic,300' ] }
	  };
		  (function() {
		    var wf = document.createElement('script');
		    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
		    wf.type = 'text/javascript';
		    wf.async = 'true';
		    var s = document.getElementsByTagName('script')[0];
		    s.parentNode.insertBefore(wf, s);
		  })();
	</script>

  {% if getenv('ENVIRONMENT') == 'dev' %}
	  {# live Reload - For local environment only #}
	  <script src="//localhost:35729/livereload.js"></script>
  {% endif %}

</body>
</html>

{% endspaceless %}
