{# /templates/proposals/index.twig #}

{% requireLogin %}
{% requirePermission "accessCp" %}

{% extends '_proposals' %}

{% block content %}
  <div class="proposals-index-container">
    {# page title #}
    <h1>Proposals</h1>

    <div class="proposals-index-container">
      <a href="proposals/list" class="button button-primary">Proposals</a>
      <a href="proposals/clients" class="button button-primary">Clients</a>
    </div>
  </div>
{% endblock %}
{# end content block #}
