
@import url(https://fonts.googleapis.com/css?family=Montserrat:700|Source+Sans+Pro:600,700,300,300italic);

.ideabaselogo {
  width: 300px;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
}
nav li {
  list-style-type: none;
  display: inline;
  margin-right: 5em;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: rgb(26,95,171);
}
ul {
  margin: 0;
  padding: 0;
}
nav {
  margin-bottom: 1.5em;
}
.button {
  background-color: rgb(26,95,171);
  display: inline-block;
  color: white;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: .7em;
  padding: 1em 2.5em;
}
.button::after {
  content: ">"
}
