{#
 # Layout template
 # ---------------
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" class="no-js" lang="en-US">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% include '_includes/_metadata.html' %}
	{% include '_includes/_favicons.html' %}
	{% include '_includes/_critical-css.html' %}
</head> 

<body>
		{% include 'global/header.html' %}
		<main id="content" role="main">
			{% block content %}
			{% endblock %}
		</main>
		{% include 'global/footer.html' %}
<link href="{{ siteUrl }}/css/styles.css" type="text/css" rel="stylesheet" media="screen"/>
<script src="{{ siteUrl }}/js/modernizr-custom.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/scrollreveal.js/3.0.6/scrollreveal.min.js"></script>
<script src="{{ siteUrl }}/js/custom-scripts-min.js"></script>
</body>
</html>