{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" class="no-js" lang="en-US">
<head>
	<style type="text/css">
			.section-header { 
				background-image: url(../../assets/img/practice-small.jpg)
			}
			@media screen and (min-width: 600px) {
				.section-header {
				background-image: url(../../assets/img/practice-medium.jpg)
				}
			}
			@media screen and (min-width: 1000px) {
				.section-header {
				background-image: url(../../assets/img/practice.jpg)
				}
			}
	</style>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<meta name="description" content="Page Description Goes Here">
	<link rel="home" href="{{ siteUrl }}" />
</head> 

<body>
		{% include 'global/header.html' %}
		<main id="content" role="main">
			{% block content %}
			{% endblock %}
		</main>
		{% include 'global/footer.html' %}
	<link href="{{ siteUrl }}/css/styles.css" type="text/css" rel="stylesheet" media="screen"/>


<script src="{{ siteUrl }}/js/modernizr-custom.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="{{ siteUrl }}/js/custom-scripts-min.js"></script>
</body>

</html>