{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
	<!-- <link href="../css/styles.css" type="text/css" rel="stylesheet" media="screen"/> -->	
	{% includeCssFile "/css/styles.css" %}
</head> 

<body>
	<div id="container">
		{% include 'global/header.html' %}

		<main id="content" role="main">
			{% block content %}
			{% endblock %}
		</main>

		{% include 'global/footer.html' %}

		
	</div>
</body>
</html>
