{#
 # Homepage template
 # ---------------
 #}

{% extends "_layout" %}

{% block content %}
	<!-- About Section -->
		<!-- About Image -->
			<section class="section-about">
					{% for asset in entry.aboutImage %}
						<img class="section-about__image" src="{{ asset.getUrl('aboutImageTransform') }}">
				 	{% endfor %}
				<div class="section-about__container">
				 	<h1 class="section-about__title">{{ entry.title }}</h1>
				 	<h2 class="section-about__tagline">{{ entry.mainTagline }}</h2> 
				 	<p class="section-about__text">{{ entry.homepageAboutText }}</p>
				 </div>
			</section>
		<!-- End About Image -->
	<!-- End About Section -->

	<!-- Services List -->
	<section class="section-services">
		<h2><div style="border:1px solid black; margin: 10px; text-align: center;">{{ entry.designHeadline }}</div></h2>
		{% for entry in craft.entries.section('processIndex') %}
			{% for block in entry.serviceHomepageMatrix.type('processMatrix') %}
			    {{ block.homeProcessName }} {{ block.homeProcessDescripton }}
			    		{% for asset in block.icon1 %}
			       			<img src="{{ asset.getUrl('featuredImageTop') }}" alt= "{{ asset.title}}">
			    		{% endfor %}
			{% endfor %}
		{% endfor %}
		<h3><a href="process/">More Services</a></h3>
	</section>
	<!-- End Services List -->

	<!-- Projects List -->
	<h2><div style="border:1px solid black; margin: 10px; text-align: center;">{{ entry.projectsHeadline }}</div></h2>
	<p>{{ entry.projectsDescription }}</p>

	{% for entry in craft.entries.section('ideabaseProjects').limit(3).order('postDate') %} 
    <ul>
    <li>
        <h3><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
        <p><a href="{{ entry.url }}">Continue reading</a></p>
    </li>
    </ul>
	{% endfor %}
	<h3><a href="projects/">More Projects</a></h3>
	<!-- End Projects List -->

{% endblock %}
