{#
 # Homepage template
 # ---------------
 #}

{% extends "_layout" %}

{% block content %}
{% include '_includes/_background-images.html' %}
	<!-- About Section -->
			<section class="section-header">

			<!-- About Image
				{% for asset in entry.aboutImage %}
					<img class="section-about__image" src="{{ asset.getUrl('aboutImageTransform') }}">
				 {% endfor %}
			End About Image -->
			<!-- About Container -->
				<div class="section-header__container">
				 	<h1 class="section-header__title">{{ entry.mainTagline }}</h2> 
				 	<div class="section-header__text">{{ entry.homepageAboutText }}</div>
				 </div>
			<!-- End About Container -->	 
			</section>
	<!-- End About Section -->

	<!-- Services List -->
	<div class="panel-primary-container">
	<section class="section-services panel-primary">
		<!-- Process List -->
		<h2>{{ entry.designHeadline }}</h2>
			<ul class="section-services__list">
				{% for entry in craft.entries.section('processIndex') %}
						{% for block in entry.serviceHomepageMatrix.type('processMatrix') %}					
							<li class="section-services__list__item">
								{% for asset in block.homepageIcon %}
							       		<img class="section-services__list__item__icon" src="{{ asset.getUrl() }}" alt= "{{ asset.title}}">
							    {% endfor %}
							    <h3 class="section-services__list__item__name">{{ block.homeProcessName }}</h3> 
							    <div class="section-services__list__item__description">{{ block.homepageDescription }}</div>
							</li>    		
						{% endfor %}	
				{% endfor %}
			</ul>		
		<!-- End Process List -->	
		<a class="button button-primary" href="{{ entry.servicesButtonLink.first().url }}">{{ entry.servicesButtonLinkName }}</a>
	</section>
	</div>

	<!-- Projects List -->
	<div class="panel-secondary-container panel-background-image">
	<section class="section-projects panel-secondary">
		<h2 class="section-projects__name">{{ entry.projectsHeadline }}</h2>
		<div class="section-projects__description">{{ entry.projectsDescription }}</div>

		<ul class="section-projects__list">
		{% for entry in craft.entries.section('ideabaseProjects').limit(3).order('postDate') %} 
			    <li class="section-projects__list__item">
				    <a href="{{ entry.url }}">
				    {% if entry.projectPicture|length %}
							{% for asset in entry.projectPicture.limit(1) %}
     							<img class="section-projects__list__item__thumb" src="{{ asset.getUrl('thumbnailLandscape') }}" alt= "{{ asset.title}}">
   							{% endfor %}
   						{% else %}
   						{% for asset in imagePlaceholder.aboutImage %}
   					   		<img class="section-projects__list__item__thumb"  src="{{ asset.getURL('thumbnailLandscape') }}" alt= "No Image Found">
   					 	{% endfor %}
   					 {% endif %}
				        <h3 class="section-projects__list__item__name">{{ entry.title }}</h3>
				    </a>
			    </li>
		{% endfor %}
		</ul>
		<section class="section-body-button panel-primary">
			<a class="button button-primary" href="{{ entry.projectButtonLink.first().url }}">{{ entry.projectsButtonLinkName }}</a>
		</section>
	</section>
	</div>
	<!-- End Projects List -->
	<div class="panel-primary-container">
	<section class="section-people-home panel-primary">
		<h2>{{ entry.peopleSectionTitle }}</h2>
		<p>{{ entry.peopleSectionDescription }}</p>
		{% for block in entry.projectMatrix.type('homeProjects') %}
			<ul class="section-people__logos">	
     			{% for asset in block.projectImageLogo %}
           			<li><img src="{{ asset.getUrl('') }}" alt= "{{ asset.title}}"></li>
        		{% endfor %}	
			</ul>
		{% endfor %}	
		<a class="button button-primary" href="{{ entry.peopleButtonLink.first().url }}">{{ entry.peopleButtonName }}</a>
	</section>
	</div>

{% endblock %}
