@mixin card($bg: $color-white, $p: 5%, $x: 0, $y: 4px, $r: 8px) {
  background-color: $bg;
  box-shadow: $x $y $r rgba($color-black, .2);
  padding: $p;
}

@mixin list-style-type-square {
  ul {
    font-size: 1.1em;
    padding-left: 0;

    li {
      display: inline-block;
      line-height: 1.5;
      margin-bottom: 1em;
      padding-left: 25px;
      text-indent: -25px;
      width: 100%;

      &::before {
        background-color: $cyan;
        color: $cyan;
        content: '';
        display: inline-block;
        height: 5px;
        margin-bottom: 2px;
        margin-right: 20px;
        width: 5px;
      }
    }
  }
}

@mixin list-style-type-bullet {
  ul {
    font-size: 1.1em;
    line-height: 1.25;
    list-style-type: none;
    padding-left: 30px;
    text-indent: -15px;

    li {
      margin-bottom: .5em;

      &::before {
        content: '•';
        display: inline-block;
        margin-right: 15px;
      }
    }
  }
}

@mixin separator-after($mb: 0, $mt: .75em) {
  &::after {
    background-color: $blue;
    content: '';
    display: block;
    height: 5px;
    margin-bottom: $mb;
    margin-top: $mt;
    width: 35px;
  }
}

@mixin separator-before {
  &::before {
    background-color: $darkgray;
    content: '';
    display: block;
    height: 2px;
    margin-top: 2em;
    width: 100%;
  }
}
