////////////////
// print only //
////////////////
@media print {
  @page {
    margin: .75in;
  }

  html,
  body,
  main,
  .proposal {
    height: 100%; // make containers 100% of page height, in order to vertical center .page-cover-text
  }

  .print-hide {
    display: none; // hide everything in .print-hide when printing
  }

  .page {
    page-break-after: auto; // auto break after every main page (moz is broken with value: always)

    .container-element,
    .page-element,
    p {
      page-break-inside: avoid; // avoid breaks inside elements
    }
  }
}
