/////////////////
// screen only //
/////////////////
@media not print {
  body {
    margin: 0 auto;
    padding: .75in;
  }

  .page {
    @include card;
    margin: 0 auto 5%;
    max-width: 8.5in;
    min-height: 11in;
  }
}
