body {
	padding: 1em;
	margin-bottom: 2em;
}

hr {
	margin: 2em 0;
}

.introduction {
	margin-bottom: 2em;
}

#header{
	font-size: 2em;
	text-align: center;
}

#header img {
	width: 225px;
}

#wrapper {
	max-width: 1000px;
	margin: 0 auto;
}

#navigation {
	font-size: 2em;
	padding-left: 2em;
}

.pattern {
	display: block;
	clear: left;
	padding: 1em 0;
	border-bottom: 2px solid black;
}
