body {
	margin: 50px; 
	font-family: sans-serif;
	background: #fff; 
	}
#container { margin: 0 auto; width: 700px;
	-webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.1);
	box-shadow: 0 2px 10px rgba(0,0,0,0.1);
	}
.case-study__list-item {
	border:1px solid black; 
	margin: 10px;
	text-align: center;
	}	
	.people-individual-list__item {
	border:1px solid black; 
	margin: 10px;
	text-align: center;
	}	
