{#
 # Staff Profile entry template
 #}

{% extends "_layout" %}

{% block content %}
	<article>
		<h1>{{ entry.title }}</h1>
		<p>Posted on {{ entry.postDate.format('F d, Y') }}</p>
		<p>{{ entry.profileContactEmail }}</p>
		<p>{{ entry.profileFunFact }}</p>
		<p>{{ entry.profileJobTitle }}</p>
		<p>{{ entry.profileOfficePhoneNumber }}</p>
		{% for image in craft.assets.kind('image') %}
    		<li><img src="{{ image.getUrl('thumb') }}" alt="{{ image.title }}"></li>
		{% endfor %}
	</article>
{% endblock %}