{#
 # People index template
 #}

{% extends "_layout" %}
{% set title = "Staff" %}

{% block content %}
	<section class="people-index">
	
		<div class="people-index__image">
			{% for asset in entry.peopleFeaturedImage %}
     			<img src="{{ asset.getUrl('featuredImageTop') }}" alt= "{{ asset.title}}">
    		{% endfor %}
    	</div>

		<h1 class="people-index__header">{{ entry.staffIndexHeader }}</h1>
		<p class="people-index__text">{{ entry.staffIndexDescription }}</p	>
		
    	<h1 class="people-index__header">{{ entry.qualityHeadline}}</h1>
    	<p class="people-index__text">{{ entry.qualityDescription }}</p>
    </section>	
    <section class="people-individual">	
	{% set staffGroup = craft.categories.group('staffHierarchy') %}
	{% set staff = craft.entries.section('people').order('title').limit(null) %}

	{% for category in staffGroup.relatedTo(projects) %}

  	<h3 class="people-individual__category">{{ category.title }}</h3>

  		<ul class="people-individual-list">
    		{% for entry in staff.relatedTo(category) %}
    			<li class="people-individual-list__item">
						{% for asset in entry.staffHeadshot %}
     						<img class="people-individual-list__image"src="{{ asset.getUrl('meetTheTeamHeadshot') }}" alt= "{{ asset.title}}">
     					{% endfor %}	
					<h3 class="people-individual-list__title">
						<a href="{{ entry.url }}">
							{{ entry.title }}
						</a>
					</h3>
					<p class="people-individual-list__text">
						bio: {{ entry.profileJobTitle }}
					</p>
				</li>
   			{% endfor %}
  		</ul>
  		  	{% endfor %}
  	</section>


  		<!-- blog pulls -->
  		{% for entry in craft.entries.section('blogPost').limit(2) %}
		<section class="blog-individual">
			<h3 class="blog-individual__title">
				<a href="{{ entry.url }}">
					{{ entry.title }}
				</a>
			</h3>
			<p class="blog-individual__text">
				Written by {{ entry.author }}
			</p>
			<p class="blog-individual__text">
				<a href="{{ entry.url }}">
					Continue reading
				</a>
			</p>
		</section>
		{% endfor %}

  		<!-- end blog pulls -->
	<section class="ideabase-apply">
		<h1 class="ideabase-apply__title">{{ entry.workForIdeabaseTitle}}</h1>
		<p class="ideabase-apply__text">{{ entry.workForIdeabaseDescription }}</p>
		<p class="ideabase-apply__link">{{ entry.workForIdeabaseLink }}</p>
	</section>	


{% endblock %}
