{#
Services Template
 #}

{% extends "_layout" %}
{% set title = "Services" %}

{% block content %}
	<section class="service-index">
		<h1 class="service-index__title">
			{{ entry.processHeader }}
		</h1>
		<p>{{ entry.processDescription }}</p>
		<div class="service-index__image">
			{% for asset in entry.processFeaturedImage %}
     			<img src="{{ asset.getUrl('featuredImageTop') }}" alt= "{{ asset.title}}">
    		{% endfor %}
    	</div>
    </section>


		<!-- Service Matrix -->
{% for block in entry.serviceHomepageMatrix.type('processMatrix') %}
    {{ block.homeProcessName }} {{ block.homeProcessDescripton }} {{ block.icon1 }}
     <ul>
    {% for row in block.homeProcessExampleTable %}
        <li>{{ row.examples }}</li> 
    {% endfor %}
    </ul>
{% endfor %}

			<!-- End Service Matrix -->
		<p>{{ entry.uxTestingLabDescription }}</p>

		<h1>{{ entry.testimonialHeadline }}</h1>
		<p>{{ entry.testimonialDescription }}</p>
{% endblock %}

